<div data-module="idsk-customer-surveys-radios">
    <div>
        <div class="idsk-customer-surveys-radios">
            <div class="govuk-radios">
                {% for item in params.feedbackOptions -%}
                    <div class="govuk-radios__item {{item.class}}">
                        <input class="govuk-radios__input {{ 'idsk-feedback-textarea--show' if item.textArea }}" id="{{ item.value }}" name="{{params.group}}" type="radio" value="{{ item.value }}">
                        <label class="govuk-label govuk-radios__label" for="{{ item.value }}">
                            {{ item.name }}
                        </label>
                    </div>
                {%- endfor %}
                <br>
            </div>
        </div>
    </div>
</div>