{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Čo je dizajn manuál ID-SK" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Úvod</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">Všeobecný úvod ID-SK</h2>
            <p class="govuk-body">Jednotný dizajn manuál elektronických služieb Slovenska „ID-SK“ je manuálom, ktorý má za cieľ zjednotiť používateľské rozhrania a spôsob komunikácie s používateľom pri poskytovaní elektronických služieb na Slovensku.</p>
            <p class="govuk-body">Požiadavka zjednotenia elektronických služieb vyplýva z Národnej koncepcie informatizácie verejnej správy z roku 2016. Bol navrhnutý v spolupráci s odbornou verejnosťou a pracovnými skupinami Komisie pre štandardizáciu informačných systémov verejnej správy. Pravidlá a prístupy uvedené v ID-SK sú tvorené tak, aby využívanie elektronických služieb bolo pre verejnosť jednoduchšie, a aby pomáhal predchádzať bežným problémom.</p>
            <p class="govuk-body">ID-SK je súbor pravidiel tvorby obsahu a funkčnosti elektronických služieb v súlade s potrebami používateľov. Definuje komponenty, jednotné používanie výrazov, princípy, vzory a pravidlá pre tvorbu jednotného používateľského rozhrania. Jeho účelom je jednotný spôsob komunikácie s používateľom elektronických služieb v celej verejnej správe.</p>
            <p class="govuk-body">ID-SK zohľadňuje používanie rôznych technických prostriedkov (PC, mobil, tablet) a zároveň dbá aj na prípadné využitie asistenčných informačných technológii (napr. čítač). Tento manuál bol tvorený tak, aby služby, ktoré budú poskytované v jeho dizajne boli jednoduché, zrozumiteľné a ľahko dostupné pre všetky vekové kategórie. Zároveň poskytuje praktické tipy, ktoré pomôžu poskytovateľom zjednodušiť komplikované formuláre. ID-SK je verejne dostupný na voľné použitie pre všetkých tvorcov elektronických služieb spolu s poskytnutím zdrojového kódu.</p>
            <p class="govuk-body">ID-SK je metodickým usmernením, pre všetkých poskytovateľov pri tvorbe nových a súčasne pri pretváraní existujúcich elektronických služieb a to tak, aby bol postupne naplnený jeho cieľ zjednotenia tvorby všetkých elektronických služieb verejnej správy.</p>
            <p class="govuk-body">ID-SK je verejne dostupný a je zverejnený na webovom sídle <a class="govuk-link" href="https://www.mirri.gov.sk/sekcie/informatizacia/oddelenie-behavioralnych-inovacii/jednotny-dizajn-manual-elektornickych-sluzieb-verejnej-spravy/index.html" title="Ministerstvo investícií, regionálneho rozvoja a infromatizácie SR.">Ministerstvo investícií, regionálneho rozvoja a infromatizácie SR.</a></p>
            <p class="govuk-body">Súčasťou manuálu je aj vzorový programový kód. Pozrite si, <a class="govuk-link" href="/uvod/ako-zacat-s-vyvojom" title="ako začať s vývojom">ako začať s vývojom</a>.</p>
        </div>
    </div>

  </div>
{% endblock %}