@import "../../base";

@include govuk-exports("idsk/component/customer-suerveys-text-area") {

    .idsk-customer-surveys-text-area {
        margin-top: -25px;
        margin-bottom: govuk-spacing(2);
    }

    .idsk-customer-surveys-text-area .govuk-textarea {
        height: 150px;

        @include mq($from: desktop) {
            height: 115px;
        }
    }

    .idsk-customer-surveys-text-area .govuk-textarea:focus {
        width: 97%;
        margin-left: 3px;

        @include mq($from: desktop) {
            width: 99%;
        }
    }
}
