{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Heslá" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Vzory</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Tento návod opisuje spôsob, ako pomôcť používateľom vytvoriť ľahko zapamätateľné a bezpečné heslá.</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-s">Obsah:</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#nastavenie-vhodnych-pravidiel-tvorby-hesla" title="Nastavenie vhodných pravidiel tvorby hesla">Nastavenie vhodných pravidiel tvorby hesla</a></li>
                <li><a class="govuk-link" href="#nenutte-pouzivatelov-aby-si-%C4%8Dasto-menili-heslo" title="Nenúťte používateľov, aby si často menili heslo">Nenúťte používateľov, aby si často menili heslo</a>
                </li>
                <li><a class="govuk-link" href="#chybne-pokusy-o-prihlasenie-sa" title="Chybné pokusy o prihlásenie sa">Chybné pokusy o prihlásenie sa</a></li>
                <li><a class="govuk-link" href="#automaticky-skryvajte-hesla" title="Automaticky skrývajte heslá">Automaticky skrývajte heslá</a></li>
                <li><a class="govuk-link" href="#umoznite-pouzivatelom-vlozit-heslo" title="Umožnite používateľom vložiť heslo">Umožnite používateľom vložiť heslo</a></li>
                <li><a class="govuk-link" href="#pomoc-pri-zabudnutom-hesle" title="Pomoc pri zabudnutom hesle">Pomoc pri zabudnutom hesle</a></li>
            </ul>

            <h3 class="govuk-heading-m" id="nastavenie-vhodnych-pravidiel-tvorby-hesla">Nastavenie vhodných pravidiel tvorby hesla</h3>
            <p class="govuk-body">Príliš prísne alebo mätúce pravidlá pri tvorbe hesla môžu sťažiť používateľom vytvorenie zapamätateľných hesiel.</p>
            <p class="govuk-body">Môže to mať za následok, že používatelia:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>prestanú používať danú službu,</li>
                <li>budú často žiadať o obnovu hesla,</li>
                <li>svoje heslo si uložia na nezabezpečené miesto.</li>
            </ul>
            <p class="govuk-body">Zvoľte obmedzenia, ktoré zodpovedajú bezpečnostným potrebám vašej služby. Ak potrebujete zvýšiť bezpečnosť, je vhodnejšie pridať dvojúrovňové overenie, než zložité pravidlá pri tvorbe hesla.</p>
            <p class="govuk-body">Pri tvorbe hesla dodržujte tieto pravidlá:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>heslo musí obsahovať minimálne 8 znakov,</li>
                <li>neobmedzujte používateľov v maximálnej dĺžke hesla,</li>
                <li>je potrebné používateľom uviesť všetky obmedzenia pri tvorbe hesla,</li>
                <li>používajte zoznam nežiadúcich, často používaných hesiel.</li>
            </ul>
            <h4 class="govuk-heading-s">Indikátory sily hesla</h4>
            <p class="govuk-body">Niektoré služby používajú indikátory sily hesla, aby pomohli používateľom vytvoriť bezpečné heslá. Z výskumov zatiaľ nie je známe, či majú tieto indikátory reálny vplyv na tvorbu silnejších hesiel.</p>

            <h3 class="govuk-heading-m" id="nenutte-pouzivatelov-aby-si-často-menili-heslo">Nenúťte používateľov, aby si často menili heslo</h3>
            <p class="govuk-body">Niektoré služby nútia používateľov si pravidelne meniť heslá, napríklad každý mesiac.</p>
            <p class="govuk-body">Nútiť používateľov k pravidelným zmenám hesla sa neodporúča, pretože:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>je väčšia pravdepodobnosť, že používatelia zabudnú heslo,</li>
                <li>používatelia často zmenia iba časť ich predchádzajúceho hesla,</li>
                <li>je pravdepodobné, že si heslo uložia na nezabezpečenom mieste.</li>
            </ul>
            <p class="govuk-body">Zmenu hesla vyžadujte od používateľov iba v prípade podozrenia zo zneužitia hesla.</p>

            <h3 class="govuk-heading-m" id="chybne-pokusy-o-prihlasenie-sa">Chybné pokusy o prihlásenie sa</h3>
            <p class="govuk-body">Ak používateľ zadá nesprávne údaje o svojom účte, nezverejňujte, či sa jednalo o nesprávne meno alebo heslo.</p>
            <p class="govuk-body">Odhalenie tejto informácie by mohlo napomôcť hekerom preniknúť do účtov používateľov.</p>
            <p class="govuk-body">Nechajte používateľom aspoň 10 pokusov na zadanie správneho hesla skôr, než účet zablokujete alebo podniknete iné bezpečnostné kroky.</p>

            <h3 class="govuk-heading-m" id="automaticky-skryvajte-hesla">Automaticky skrývajte heslá</h3>
            <p class="govuk-body">Používatelia môžu byť pri zadávaní alebo vytváraní hesla vo verejnom priestore, takže by ste mali heslá automaticky skryť.</p>
            <p class="govuk-body">Ak chcete pomôcť používateľom pri tvorbe bezpečného hesla a zamedziť vzniku preklepov:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>nechajte používateľov nech si zobrazia heslo, ak o to majú záujem,</li>
                <li>zobrazte vždy posledný zadaný znak hesla,</li>
                <li>nechajte používateľov zadať heslo dvakrát a automaticky ich porovnajte.</li>
            </ul>

            <h3 class="govuk-heading-m" id="umoznite-pouzivatelom-vlozit-heslo">Umožnite používateľom vložiť heslo</h3>
            <p class="govuk-body">Umožnite používateľom prilepiť heslo do poľa tomu určeného (funkcia kopírovať a prilepiť). Používatelia môžu mať rôzne dôvody, prečo chcú vložiť svoje heslo, napríklad ak používajú aplikáciu na správu hesiel.</p>

            <h3 class="govuk-heading-m" id="pomoc-pri-zabudnutom-hesle">Pomoc pri zabudnutom hesle</h3>
            <p class="govuk-body">Dostatočne silné heslá sú často zložité na zapamätanie.</p>
            <p class="govuk-body">Ak chcete pomôcť používateľom, ktorí zabudli svoje heslo, mali by ste:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>poslať používateľom odkaz alebo kód na obnovu hesla,</li>
                <li>vyhnúť sa otázkam na obnovu hesla,</li>
                <li>vyhnúť sa pripomínaniu hesla.</li>
            </ul>
            <h4 class="govuk-heading-s">Posielanie odkazu na obnovu hesla</h4>
            <p class="govuk-body">Heslá by ste nikdy nemali posielať e-mailom, pretože to nie je bezpečný kanál.</p>
            <p class="govuk-body">Namiesto toho odošlite používateľom na e-mailovú adresu alebo telefónne číslo, pod ktorým sa zaregistrovali, časovo obmedzený odkaz, prípadne kód na obnovu hesla.</p>
            <p class="govuk-body">Vždy, keď dôjde k obnove hesla, upovedomte o tom používateľa pre prípad, že sa niekto iný snaží získať prístup k jeho účtu.</p>
            <h4 class="govuk-heading-s">Pri obnove hesla nepoužívajte bezpečnostné otázky</h4>
            <p class="govuk-body">Nepoužívajte pri obnove hesla bezpečnostné otázky, pretože odpovede sú:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>rovnako ťažké na zapamätanie ako heslo samotné,</li>
                <li>príliš ľahké na to, aby sa ich niekto dozvedel (napríklad “krstné meno matky”),</li>
                <li>variabilné, a teda časom podliehajú zmenám (napríklad “vaša obľúbená farba”).</li>
            </ul>
            <h4 class="govuk-heading-s">Vyhnite sa pripomínaniu hesla</h4>
            <p class="govuk-body">Vyhnite sa pripomínaniu konkrétneho znenia hesla používateľovi, ktorý si na heslo nevie spomenúť, pretože:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>existuje vysoké riziko, že napomáhate potenciálnemu útočníkovi, ktorý sa snaží získať prístup k účtu,</li>
                <li>tento spôsob nefunguje, ak majú používatelia veľmi silné heslá obsahujúce náhodné reťazce znakov.</li>
            </ul>


        </div>
    </div>

  </div>
{% endblock %}