{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/header-extended/macro.njk" import idskHeaderExtended %}
{% from "../../../src/idsk/components/intro-block/macro.njk" import idskIntroBlock %}

{% set pageName = "Hlavička s úvodným blokom" %}

{% block header %}
  {{ idskHeaderExtended({
    logo: "logo-mirri-farebne.svg",
    logoSmall: "logo-mirri-small-farebne.svg",
    logoWhite: "logo-mirri-biele.svg",
    logoSmallWhite: "logo-mirri-small-biele.svg",
    logoGrid: 'govuk-grid-column-two-thirds',
    navigation: [
        {
            link: '#1',
            text: 'Ministerstvo'
        },
        {
            link: '#2',
            text: 'Sekcie',
            active: true
        },
        {
            link: '#3',
            text: 'Programy EŠIF'
        },
        {
            link: '#4',
            text: 'Aktuality'
        },
        {
            link: '#5',
            text: 'Kontakt'
        }
    ],
    language: {
        current: {
            text: "slovenčina",
            flag: "slovakia-flag-icon-16.png"
        },
        choices: [
            {
                flag: "united-states-of-america-flag-icon-16.png",
                text: "english",
                link: "#"
            },
            {
                flag: "germany-flag-icon-16.png",
                text: "german",
                link: "#"
            }
        ]
    },
    socials: [
        {
            icon: "fab fa-instagram",
            link: "#",
            text: "Instagram"
        },
        {
            icon: "fab fa-linkedin-in",
            link: "#",
            text: "Linkedin"
        },
        {
            icon: "fab fa-facebook-f",
            link: "#",
            text: "Facebook"
        },
        {
            icon: "fab fa-twitter",
            link: "#",
            text: "Twitter"
        }
    ]    
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: ' ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}

{% block content %}
  {{ idskIntroBlock({ 
    bottomMenu: [
    {
      item:"Pomoc", 
      href:"#"}, 
    {
      item:"Cookies",
      href:"#"
    }, 
    {
      item:"Kontakty",
      href:"#"
    }, 
    { 
      item:"Mapa Stránky",
      href:"#"
    }, 
    {
      item:"RSS",
      href:"#"
    }, 
    {
      item:"Vyhlásenie",
      href:"#"
    }],
    searchEnabled:"true",
    sideMenu: [
    {
      item:"O Eurofondoch", 
      href:"#"}, 
    {
      item:"Aktuality",
      href:"#"
    }, 
    {
      item:"O Ministerstve",
      href:"#"
    }, 
    { 
      item:"Aktuálne výzvy",
      href:"#"
    }, 
    {
      item:"Dokumenty",
      href:"#"
    }]
})}}
{% endblock %}

{% block footer %}{% endblock %}