<!DOCTYPE html>
<html lang="sk">
<head>
    <title>Interaktívna mapa</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="title" content="Interaktívna mapa">
    <meta name="description" content="Príkladová mapa na demonštráciu koponentu - interaktívna mapa">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/public/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/images/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/public/assets/images/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/assets/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/public/assets/images/apple-touch-icon.png">
    
    <!--[if !IE 8]><!-->
        <link rel="stylesheet" href="/public/app.css">
    <!--<![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" href="/public/app-ie8.css">
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="/vendor/html5-shiv/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    {# var $krajeGeoJSON #}
    <script src="/public/assets/data/krajeGeoJSON.js"></script>
    {# var $vaccinationsByRegion #}
    <script src="/public/assets/data/vaccinationsByRegion.js"></script>
    
    <style>
        #map {
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>

        var $currentData = "";
        var $regionsMapping = {
            1: "Košický",
            2: "Nitriansky",
            3: "Bratislavský",
            4: "Trenčiansky",
            5: "Žilinský",
            6: "Banskobystrický",
            7: "Trnavský",
            8: "Prešovský"
        }

        var $params = new URL(location.href).searchParams;
        var $indicatorExclude = $params.get("exclude");
        var $timePeriod = $params.get("time");

        function renderMap() {

            // filter data by indicator and time period
            var $data = $vaccinationsByRegion.page;
            $data.filter(function(d) {
                console.log(d)
            })

            var $map = L.map('map');
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo($map);

            var $geoJSON = L.geoJson($krajeGeoJSON, {
                onEachFeature: function (feature, layer) {
                    layer.bindTooltip(
                        feature.properties.TXT + '<br>' + feature.properties.REF,
                        {direction:"center"}
                )}
            }).addTo($map);

            $map.fitBounds($geoJSON.getBounds());
        }

        if (document.readyState === "complete" || document.readyState === "interactive") {
            renderMap();
        } else {
            document.addEventListener("DOMContentLoaded", function() {
                renderMap();
            });
        }
    </script>

</body>
</html>
