{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Prihlásenie a používateľské účty" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Vzory</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Tento návod opisuje správne použitie a štruktúrovanie používateľských účtov.</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-s">Obsah:</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#kedy-pouzivat-prihlasenie-a-pouzivatelske-ucty" title="Kedy používať prihlásenie a používateľské účty">Kedy používať prihlásenie a používateľské účty</a>
                </li>
                <li><a class="govuk-link" href="#umiestnenie-tlacidla-prihlasit-sa" title="Umiestnenie tlačidla “Prihlásiť sa”">Umiestnenie tlačidla “Prihlásiť sa”</a></li>
                <li><a class="govuk-link" href="#alternativy-k-prihlaseniu-a-pouzivatelskym-uctom" title="Alternatívy k prihláseniu a používateľským účtom">Alternatívy k prihláseniu a používateľským účtom</a>
                </li>
                <li><a class="govuk-link" href="#pouzivajte-zrozumitelny-a-konzistentny-jazyk" title="Používajte zrozumiteľný a konzistentný jazyk">Používajte zrozumiteľný a konzistentný jazyk</a>
                </li>
                <li><a class="govuk-link" href="#prihlasovanie" title="Prihlasovanie">Prihlasovanie</a></li>
                <li><a class="govuk-link" href="#ak-prihlasovanie-trva-dlhsie" title="Ak prihlasovanie trvá dlhšie">Ak prihlasovanie trvá dlhšie</a></li>
                <li><a class="govuk-link" href="#chyba-pri-prihlasovani" title="Chyba pri prihlasovaní">Chyba pri prihlasovaní</a></li>
            </ul>

            <h3 class="govuk-heading-m" id="kedy-pouzivat-prihlasenie-a-pouzivatelske-ucty">Kedy používať prihlásenie a používateľské účty</h3>
            <p class="govuk-body">Keďže prostredie slovenského e-Governmentu poskytuje jednotný autentifikačný modul, neodporúčame vytvárať iné druhy používateľských účtov. Ak už na vašom webovom sídle používateľské účty využívate, riaďte sa pravidlami uvedenými nižšie.</p>
            <p class="govuk-body">Umožnite používateľom čo najviac využiť vašu službu pred tým, ako si budú musieť vytvoriť používateľský účet. Napríklad väčšinu nákupných webových stránok si môžete prezerať a v niektorých prípadoch aj vykonať objednávku bez nutnosti vytvorenia účtu.</p>
            <p class="govuk-body">Nenúťte používateľov vytvárať používateľské účty alebo prihlasovať sa cez eID elektronickú identifikáciu, ak to nie je nevyhnutné. Pre mnohých používateľov je to bariéra, ktorá vám znižuje mieru využívania elektronických služieb.</p>
            <p class="govuk-body">Používateľské účty a prihlásenie sa používajú iba v prípade, ak je pravdepodobné, že vaši používatelia budú musieť svoje údaje využívať v budúcnosti, prípadne aktualizovať vo viacerých častiach vašej služby.</p>

            <h3 class="govuk-heading-m" id="umiestnenie-tlacidla-prihlasit-sa">Umiestnenie tlačidla “Prihlásiť sa”</h3>
            <h4 class="govuk-heading-s">Ak využívate hlavičku navrhnutú v ID-SK</h4>
            <p class="govuk-body">Tlačidlo “Prihlásiť sa” umiestnite vždy v pravej časti hlavičky, tak ako je to popísané v sekcii hlavička a päta.</p>
            <h4 class="govuk-heading-s">Ak nevyužívate hlavičku navrhnutú v ID-SK</h4>
            <p class="govuk-body">Ak vo vašej službe nevyužívate hlavičku navrhnutú v ID-SK, odporúčame vám umiestniť tlačidlo pre prihlásenie používateľa vždy v pravej hornej časti obrazovky. Uistite sa, že tlačidlo je dostatočne viditeľné a vizuálne nesplýva so zvyšným obsahom na danej stránke. Odporúča sa ponechať minimálne 30 pixelov voľného priestoru z každej strany okolo tlačidla. Pre zachovanie konzistentnosti pomenujte tlačidlo “Prihlásiť sa”.</p>
            <h4 class="govuk-heading-s">Ukážka neprihláseného používateľa</h4>
            <img src="/public/assets/images/patterns/prihlasenie1.png" alt="prihlasenie">
            <h4 class="govuk-heading-s">Ukážka prihláseného používateľa</h4>
            <img src="/public/assets/images/patterns/prihlasenie2.png" alt="prihlasenie">

            <h3 class="govuk-heading-m" id="alternativy-k-prihlaseniu-a-pouzivatelskym-uctom">Alternatívy k prihláseniu a používateľským účtom</h3>
            <p class="govuk-body">Ak plánujete umožniť používateľom, aby si vo vašej službe mohli skontrolovať stav vybavenia žiadosti, odporúča sa im poskytnúť unikátne referenčné číslo. Následne pre zobrazenie stavu stačí, ak používatelia zadajú toto referenčné číslo spolu s menom alebo e-mailovou adresou. Tento systém využívajú napríklad mnohé kuriérske spoločnosti.</p>
            <h4 class="govuk-heading-s">Ukážka</h4>
            <img src="/public/assets/images/patterns/prihlasenie3.png" alt="prihlasenie">

            <h3 class="govuk-heading-m" id="pouzivajte-zrozumitelny-a-konzistentny-jazyk">Používajte zrozumiteľný a konzistentný jazyk</h3>
            <p class="govuk-body">Pre konzistentnosť s ostatnými službami slovensko.sk použite frázy ako napríklad 'Vytvoriť účet' namiesto 'Registrovať', “Prihlásiť sa” namiesto “Prihlásiť” alebo “Odhlásiť sa” namiesto “Odhlásiť” a pod.</p>

            <h3 class="govuk-heading-m" id="prihlasovanie">Prihlasovanie</h3>
            <p class="govuk-body">Počas procesu prihlasovania, musí byť používateľ upovedomený, že prebieha prihlasovanie. Odporúča sa používať aj animácia prebiehajúceho prihlasovania (viď ukážka prihlasovania).</p>
            <h4 class="govuk-heading-s">Ukážka prihlasovania</h4>
            <img src="/public/assets/images/patterns/prihlasenie4.png" alt="prihlasenie">


            <h3 class="govuk-heading-m" id="ak-prihlasovanie-trva-dlhsie">Ak prihlasovanie trvá dlhšie</h3>
            <p class="govuk-body">Ak proces prihlasovania trvá dlhšie ako býva zvykom, je potrebné o tom používateľa informovať priamo v obrazovke prihlasovania spolu s možnosťou “Zrušiť prihlasovanie”, v prípade, že používateľ nie je ochotný čakať.</p>
            <h4 class="govuk-heading-s">Ukážka, ak prihlasovanie trvá dlhšie</h4>
            <img src="/public/assets/images/patterns/prihlasenie5.png" alt="prihlasenie">


            <h3 class="govuk-heading-m" id="chyba-pri-prihlasovani">Chyba pri prihlasovaní</h3>
            <p class="govuk-body">Ak počas prihlasovania nastane chyba, je nutné používateľa o tom informovať a ponúknuť mu možnosti ako má pokračovať. Popis chyby by mal byť krátky a natoľko zrozumiteľný, aby mu porozumel aj menej skúsený používateľ.</p>
            <p class="govuk-body">Okrem popisu chyby je dôležité zobraziť aj kroky, ktoré má používateľ podniknúť, aby mu služba fungovala správne (viď ukážku nižšie “Skontrolujte prosím nasledovné údaje”).</p>
            <p class="govuk-body">V prípade, že ide o častú chybu, napríklad u používateľov, ktorí sa prihlasujú po prvýkrát, je vhodné na to poukázať aj v chybovej hláške (viď ukážka nižšie “Prihlasujete sa prvýkrát?”)</p>
            <h4 class="govuk-heading-s">Ukážka</h4>
            <img src="/public/assets/images/patterns/prihlasenie6.png" alt="prihlasenie">

        </div>
    </div>

  </div>
{% endblock %}