{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/header/macro.njk" import idskHeader %}
{% from "../../../src/idsk/components/feedback/macro.njk" import idskFeedback %}
{% from "../../../src/idsk/components/footer-extended/macro.njk" import idskFooterExtended %}

{% set pageName = "Spätná väzba" %}

{% block header %}
  {{ idskHeader({containerClasses: 'idsk-header__container--full-width '}) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-left-3">
    {{ govukBreadcrumbs({
    "items": [
    { text: ' ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    {{ idskFeedback({
counter : 0,
characterLength : 200,
feedbackOptions: [
        {
          name:"Veľmi nespokojný"  
        },
        {
          name:"Nespokojný"
        },
        {
          name:"Ani spokojný ani nespokojný"
        },
        {
          name:"Spokojný"
        },
        {
          name:"Veľmi spokojný"
        }
      ]}) }}
  </div>
{% endblock %}

{% block footer %}
  {{ idskFooterExtended({
    characterLength : 350,
    upButtonEnabled : "true",
    logo: "footer-extended-logo.svg",
    subtitles: [
    {
      item:"Pomoc", 
      href:"#"}, 
    {
      item:"Cookies",
      href:"#"
    }, 
    {
      item:"Kontakty",
      href:"#"
    }, 
    { 
      item:"Mapa Stránky",
      href:"#"
    }, 
    {
      item:"RSS",
      href:"#"
    }, 
    {
      item:"Vyhlásenie o prístupnosti",
      href:"#"
    }
  ],
    dropdownItems: [
    {
      value: "published",
      text: "Validačná chyba"
    },
    {
      value: "updated",
      text: "Gramatická chyba",
      selected: true
    },
    {
      value: "views",
      text: "Chyba responzivity"
    },
    {
      value: "comments",
      text: "Chyba iná"
    }
    ]
  }) 
}}
{% endblock %}