{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/feedback/macro.njk" import idskFeedback %}

{% set pageName = "Stránky so spätnou väzbou" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Vzory</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Pri vytváraní digitálnej služby budete potrebovať zabezpečiť používateľom spôsob, ktorým vám k nej poskytnú svoju spätnú väzbu.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-s">Obsah:</h2>
        <ul class="govuk-list">
          <li>
            <a href="#priklad">Príklad</a>
          </li>
          <li>
            <a href="#preco">Prečo musí mať vaša služba stránku so spätnou väzbou</a>
          </li>
        </ul>

        <h3 class="govuk-heading-m" id="priklad">Príklad</h3>
        <div class="example">
          {{ idskFeedback({
              counter : 0,
              characterLength : 200,
              feedbackOptions: [
              {
                name:"Veľmi nespokojný",
                textArea:true,
                value: 1
              },
              {
                name:"Nespokojný",
                textArea:true,
                value: 2
              },
              {
                name:"Ani spokojný ani nespokojný",
                textArea:true,
                value: 3
              },
              {
                name:"Spokojný",
                value: 4
              },
              {
                name:"Veľmi spokojný",
                value: 5
              }
            ]}) }}
        </div>

        <h3 class="govuk-heading-m" id="preco">Prečo musí mať vaša služba stránku so spätnou väzbou</h3>
        <p class="govuk-body">
          Všetky služby v testovacej alebo ostrej verzii musia mať stránku so spätnou väzbou, aby ste mohli zozbierať komentáre a vyhodnocovať spokojnosť používateľov.
        </p>
        <p class="govuk-body">
          K poskytnutiu spätnej väzby prichádza po tom, ako používateľ dokončí podanie a po úplnom vybavení služby, o ktorú používateľ žiadal. Na meranie spokojnosti používateľov sa využíva koncept Net Promoter Score (NPS).
        </p>
        <p class="govuk-body">
          NPS je kvantitatívny údaj, ktorý bude doplnený kvalitatívnym vysvetlením používateľa. Používateľ odpovedá na škále od 1 po 10, na otázku v nasledovnej formulácii: “Ako veľmi je pravdepodobné, že by ste službu X odporučili svojim priateľom a známym?”
        </p>
        <p class="govuk-body">
          Likertova škála, na ktorej sa pohybujú odpovede používateľa, reprezentuje mieru jeho súhlasu:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Hodnota 1 - Určite nie</li>
          <li>Hodnota 5 - Neutrálny postoj</li>
          <li>Hodnota 10 - Určite áno</li>
        </ul>
        <p class="govuk-body">Kvalitatívny údaj predstavuje otvorená otázka, kde bude mať používateľ možnosť doplniť svoj názor. Táto otázka bude dostupná pre všetky odpovede s hodnotou od 1 po 6. Otázka bude v znení: “Ako by sme mohli túto službu zlepšiť?”
        </p>

      </div>
    </div>

  </div>
{% endblock %}