{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/header-web/macro.njk" import idskHeaderWeb %}
{% from "../../../src/idsk/components/footer-extended/macro.njk" import idskFooterExtended %}
{% from "../../../src/idsk/components/in-page-navigation/macro.njk" import idskInPageNavigation %}
{% from "../../../src/idsk/components/stepper/macro.njk" import idskStepper %}
{% from "../../../src/idsk/components/banner/macro.njk" import idskBanner %}
{% from "../../../src/idsk/components/related-content/macro.njk" import idskRelatedContent %}
{% from "../../../src/idsk/components/footer-extended/macro.njk" import idskFooterExtended %}

{% set pageName = "Príspevok pri narodení dieťaťa" %}
{% block styles %}
  <style>
    .idsk-stepper-pattern__intro-heading {
      margin-top: 20px;
    }
    .idsk-stepper-pattern__text-silver {
      color: #6F777B;
      border-top: 1px solid #BFC1C3;
      padding-top: 10px;
    }
    .idsk-stepper-pattern__banner {
      margin-bottom: -20px;
    }
    @media (min-width: 48.0525em) {
      .idsk-stepper-pattern__element-right {
        float: right;
        margin-right: 15px;
      }
    }
  </style>
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}

{% block skipLink %}
    {{ idskSkipLink({
        href: '#main-content',
        text: 'Preskočiť na hlavný obsah',
        classes: 'idsk-skip-link--sticky'
    }) }}
{% endblock %}

{% block header %}
  {{ idskHeaderWeb({
    headerType: "website",
    search: true,
    brand: {
      gestor: true,
      languages: [
        {
          text: "Slovenčina",
          selected: true,
          link: "#1"
        },
        {
          text: "English",
          link: "#2"
        },
        {
          text: "German",
          link: "#3"
        }
      ]
    },
    main: {
      logoSrc: "/public/assets/images/header-web/logo-mirri-farebne.svg",
      logoAlt: "logo miri"
    },
    navBar: {
      navigation: [
        {
          text: "Eurofondy",
          link: "#1"
        },
        {
          text: "Regionálny rozvoj",
          link: "#2"
        },
        {
          text: "Informatizácia",
          link: "#3"
        },
        {
          text: "Investície",
          link: "#4"
        },
        {
          text: "Inovácie",
          link: "#5"
        }
      ]
    }
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop idsk-stepper-pattern__element-right">
      <div id="uvod">
        {{ idskBanner({
          "classes": "app-pane-grey",
          "pageName": "Súčasť životnej situácie",
          "headline": "Narodenie dieťaťa: krok za krokom"
        }) }}
      </div>
      <h3 class="govuk-heading-l idsk-stepper-pattern__intro-heading">Príspevok pri narodení dieťaťa</h3>
      <p class="govuk-body-s idsk-stepper-pattern__text-silver">Aktualizované 8.12.2020 -
        <a class="govuk-link" href="#" title="zobraziť aktualizácie">
          zobraziť aktualizácie</a>
      </p>
    </div>
    {{ idskInPageNavigation({
      items: [
        {
          text: "Úvod",
          link: "#uvod",
          active: true
        },
        {
          text: "Nadpis 1",
          link: "#nadpis-1"
        },
        {
          text: "Nadpis 2",
          link: "#nadpis-2"
        },
        {
          text: "Súvisiace-témy",
          link: "#suvisiace-temy"
        },
        {
          text: "Súčasť životnej situácie",
          link: "#sucast-zivotnej-sitiacie"
        },
        {
          text: "Stepper",
          link: "#stepper"
        },
        {
          text: "Taktiež súčasťou životných situácii",
          link: "#zivotne-situacie"
        }
      ]
    }) }}
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <p class="govuk-body">Štát v súčasnosti eviduje približne 3 200 subjektov zapísaných v Registri poľovníckych organizácií vedenom na Ministerstve pôdohospodárstva a rozvoja vidieka SR. V Registri cirkví a náboženských spoločností štát eviduje do 20 právnických osôb. Štatutári by si mali skontrolovať údaje, ktoré štátu odovzdali pri zápise ich organizácie do registra a overiť, že v nich majú uvedené svoje rodné číslo. V prípade poľovníkov vedie register Národné lesnícke centrum, v prípade cirkví je to Ministerstvo kultúry SR.</p>
      <p class="govuk-body">Počet elektronických schránok subjektov neziskového mimovládneho sektora aktivovaných na doručovanie úradných rozhodnutí sa tak od 1. augusta zvýši približne zo 63-tisíc na skoro 67-tisíc. Aktiváciu elektronickej schránky na doručovanie NASES zrealizuje automaticky bez toho, aby sa štatutár do svojej e-schránky prihlásil.</p>
      <p class="govuk-body">„Znamená to, že do takto aktivovaných elektronických schránok sú zo strany úradov doručované úradné rozhodnutia. Štatutári alebo nimi poverené osoby už nechodia so žltým lístkom na poštu, ale rozhodnutia im štát doručuje do úradných e-schránok zriadených na slovensko.sk. Rovnako platí, že tieto organizácie nemusia úradné podania realizovať listinne na pošte, ale majú možnosť tak robiť prostredníctvom svojej elektronickej schránky,“ vysvetľuje Peter Kucer z MIRRI SR.</p>
      <img src="/public/assets/images/image-placeholder.jpg" width="100%" alt="placeholder-img">

      <h3 class="govuk-heading-m" id="nadpis-1">Nadpis 1</h3>
      <p class="govuk-body">Povinnú aktiváciu elektronických schránok právnických osôb, ktoré odvodzujú právnu subjektivitu od právnej subjektivity cirkví a náboženských spoločností, štát nateraz odkladá. Možná je však dobrovoľná aktivácia elektronických schránok pre tieto tipy právnických osôb, a to formou listinnej žiadosti zaslanej zo strany štatutára do NASES.</p>
      <p class="govuk-body">Peter Kucer hovorí, že štatutári sú si vedomí zodpovednosti a ich záujem postupne rastie: „Ku koncu júna prišlo do elektronických schránok neziskových organizácií, nadácií, fondov, záujmových či občianskych združení 5 420 úradných rozhodnutí. Chcel by som preto vyzvať aj poľovníkov a cirkvi, keďže oni so štátom komunikujú pomerne často, aby situáciu nepodcenili a počítali s tým, že do schránky im budú doručované úradné rozhodnutia.“</p>
      <p class="govuk-body">Národná agentúra pre sieťové a elektronické služby (NASES) aktivuje na doručovanie úradných rozhodnutí e-schránky ďalších organizácií mimovládneho neziskového sektora postupne v jednotlivých fázach podľa indikatívneho harmonogramu.</p>
      <p class="govuk-body">Štatutári nájdu potrebné informácie o elektronických schránkach a prístupe k nim na statutar.sk. Komplexné informácie aj na slovensko.sk.</p>

      <h3 class="govuk-heading-m" id="nadpis-2">Nadpis 2</h3>
      <p class="govuk-body">„Na prístup do elektronickej schránky je potrebné mať občiansky preukaz s čipom a bezpečnostný osobný kód – BOK“, pripomína Peter Kucer, poverený riadením sekcie ITVS Ministerstva investícií, regionálneho rozvoja a informatizácie SR (MIRRI) a dodáva, že do elektronickej schránky zriadenej na slovensko.sk sa dostane iba ten štatutár, ktorý má v príslušnom zdrojovom registri správne uvedené údaje v podobe IČO organizácie a meno, priezvisko a rodné číslo štatutára.</p>
      <p class="govuk-body">Štát v súčasnosti eviduje približne 3 200 subjektov zapísaných v Registri poľovníckych organizácií vedenom na Ministerstve pôdohospodárstva a rozvoja vidieka SR. V Registri cirkví a náboženských spoločností štát eviduje do 20 právnických osôb. Štatutári by si mali skontrolovať údaje, ktoré štátu odovzdali pri zápise ich organizácie do registra a overiť, že v nich majú uvedené svoje rodné číslo. V prípade poľovníkov vedie register Národné lesnícke centrum, v prípade cirkví je to Ministerstvo kultúry SR.</p>
      <p class="govuk-body">Počet elektronických schránok subjektov neziskového mimovládneho sektora aktivovaných na doručovanie úradných rozhodnutí sa tak od 1. augusta zvýši približne zo 63-tisíc na skoro 67-tisíc. Aktiváciu elektronickej schránky na doručovanie NASES zrealizuje automaticky, bez toho, aby sa štatutár do svojej e-schránky prihlásil.</p>
      <p class="govuk-body">„Znamená to, že do takto aktivovaných elektronických schránok sú zo strany úradov doručované úradné rozhodnutia. Štatutári alebo nimi poverené osoby už nechodia so žltým lístkom na poštu, ale rozhodnutia im štát doručuje do úradných e-schránok zriadených na slovensko.sk. Rovnako platí, že tieto organizácie nemusia úradné podania realizovať listinne na pošte, ale majú možnosť tak robiť prostredníctvom svojej elektronickej schránky“, vysvetľuje Peter Kucer z MIRRI.</p>
      <p class="govuk-body">Povinnú aktiváciu elektronických schránok právnických osôb, ktoré odvodzujú právnu subjektivitu od právnej subjektivity cirkví a náboženských spoločností štát nateraz odkladá. Možná je však dobrovoľná aktivácia elektronických schránok pre tieto tipy právnických osôb, a to formou listinnej žiadosti zaslanej zo strany štatutára do NASES.</p>
      <p class="govuk-body">Peter Kucer hovorí, že štatutári sú si vedomí zodpovednosti a ich záujem postupne rastie: „Ku koncu júna prišlo do elektronických schránok neziskových organizácií, nadácií, fondov, záujmových či občianskych združení 5 420 úradných rozhodnutí. Chcel by som preto vyzvať aj poľovníkov a cirkvi, keďže oni so štátom komunikujú pomerne často, aby situáciu nepodcenili a počítali s tým, že do schránky im budú doručované úradné rozhodnutia“.</p>
      <p class="govuk-body">Národná agentúra pre sieťové a elektronické služby (NASES) aktivuje na doručovanie úradných rozhodnutí e-schránky ďalších organizácií mimovládneho neziskového sektora postupne v jednotlivých fázach podľa indikatívneho harmonogramu.</p>
      <p class="govuk-body">Štatutári nájdu potrebné informácie o elektronických schránkach a prístupe k nim na statutar.sk. Komplexné informácie aj na slovensko.sk.</p>

      <p class="govuk-body-s idsk-stepper-pattern__text-silver">Aktualizované 8.12.2020 -
        <a class="govuk-link" href="#" title="zobraziť aktualizácie">
          zobraziť aktualizácie</a>
      </p>
      <div class="govuk-grid-row" id="suvisiace-temy">
        {{ idskRelatedContent({
              customWidthClass : "full",
              heading: "Súvisiace témy",
              items: [
                {
                  title: "Súvisiaca téma č. 1",
                  link: "#"
                },
                {
                  title: "Súvisiaca téma č. 2",
                  link: "#"
                },
                {
                  title: "Súvisiaca téma č. 3",
                  link: "#"
                }
              ]
            }) }}
      </div>

      <div class="govuk-grid-row idsk-stepper-pattern__banner" id="sucast-zivotnej-sitiacie">
        {{ idskBanner({
            "pageName": "Súčasť životnej situácie",
            "headline": "Narodenie dieťaťa: krok za krokom"
          }) }}
      </div>

      <div id="stepper">
        {{ idskStepper({
              "id": "default-example",
              "subtitle": "Pred narodením dieťaťa",
              "attributes": {
              "data-attribute": "value"
              },
              "items": [
              {
                  "heading": {
                  "text": "Výber pediatra"
                  },
                  "contents": [
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  },
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  },
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  },
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  }
                  ]
              },
              {
                  "heading": {
                  "text": "Žiadosť o materské v Sociálnej poisťovni"
                  },
                  "contents": [
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  },
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  }
                  ]
              },
              {
                  "heading": {
                  "text": "Po narodení dieťaťa",
                  "isTitle": true
                  }
              },
              {
                  "heading": {
                  "text": "Výber zdravotnej poistovne a prihlásenie dieťaťa"
                  },
                  "contents": [
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  },
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero alebo viac detí  alebo ktorým sa v priebehu dvoch rokov opakovane narodili dvojčatá,",
                      "href": "#"
                  },
                  {
                      "subtitle": "Príspevok pri narodení dieťaťa,Prídavok na dieťa,Rodičovský príspevok pre vlastné dieťa / pre zverené dieťa,",
                      "href": "#"
                  },
                  {
                      "subtitle": "Príspevok na starostlivosť o dieťa.",
                      "href": "#"
                  }
                  ]
              },
              {
                  "heading": {
                  "text": "Príspevky pri narodení dieťaťa z Úradu práce, sociálnych vecí a rodiny",
                  "showAnd": true
                  },
                  "contents": [
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  },
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero alebo viac detí  alebo ktorým sa v priebehu dvoch rokov opakovane narodili dvojčatá,",
                      "href": "#"
                  }
                  ]
              },
              {
                  "heading": {
                  "text": "Výber zdravotnej poistovne a prihlásenie dieťaťa"
                  },
                  "contents": [
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  },
                  {
                      "subtitle": "Príspevok pre rodičov, ktorým sa narodili súčasne tri alebo viac detí  alebo ktorým sa v priebehu dvoch rokov opakovane narodili dvojčatá,",
                      "href": "#"
                  }
                  ]
              },
              {
                  "heading": {
                  "text": "Výber zdravotnej poistovne a prihlásenie dieťaťa"
                  },
                  "contents": [
                  {
                      "subtitle": "Pri narodení dieťaťa máte nárok na viacero",
                      "href": "#"
                  },
                  {
                      "subtitle": "Príspevok pre rodičov, ktorým sa narodili súčasne tri alebo viac detí  alebo ktorým sa v priebehu dvoch rokov opakovane narodili dvojčatá,",
                      "href": "#"
                  }
                  ]
              }
              ]
          }) }}
      </div>

      <div class="govuk-grid-row idsk-stepper-pattern__intro-heading" id="zivotne-situacie">
        {{ idskRelatedContent({
              customWidthClass : "full",
              heading: "Taktiež súčasťou životných situácii",
              items: [
                {
                  title: "Životná situácia č. 1",
                  link: "#"
                },
                {
                  title: "Životná situácia č. 2",
                  link: "#"
                }
              ]
            }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ idskFooterExtended({
      characterLength : 350,
      upButtonEnabled : "true",
      logo: "footer-extended-logo.svg",
      subtitles: [
      {
        item:"Pomoc",
        href:"#"},
      {
        item:"Cookies",
        href:"#"
      },
      {
        item:"Kontakty",
        href:"#"
      },
      {
        item:"Mapa Stránky",
        href:"#"
      },
      {
        item:"RSS",
        href:"#"
      },
      {
        item:"Vyhlásenie o prístupnosti",
        href:"#"
      }
    ],
      dropdownItems: [
      {
        value: "published",
        text: "Validačná chyba"
      },
      {
        value: "updated",
        text: "Gramatická chyba",
        selected: true
      },
      {
        value: "views",
        text: "Chyba responzivity"
      },
      {
        value: "comments",
        text: "Chyba iná"
      }
      ]
    })
  }}
{% endblock %}
