{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Webové portály" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}

    <span class="govuk-caption-xl">Príklady použitia ID-SK</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
            <h2 class="govuk-heading-s">Obsah:</h2>
            <p class="govuk-body">
                <a href="https://korona.gov.sk/">korona.gov.sk</a>
            </p>
            <p class="govuk-body">
              <a href="https://www.isoh.gov.sk/uvod.html">Portál ISOH</a>
          </p>

          <h3 class="govuk-heading-m">Korona.gov.sk</h3>
          <p class="govuk-body">Webové sídlo zhromaždujúce všetky informácie o epidémii koronavírusu. Stránka sa stala hlavným informačným portálom vlády o prebiehajúcej epidémii, sústreďuje informácie o opatreniach, štatistiky a služby ako registrácia na očkovanie, testovanie alebo registrácia pri príchode zo zahraničia.</p>
        
          <h4 class="govuk-heading-s">Odkaz</h4>
          <p class="govuk-body"><a href="https://korona.gov.sk">https://korona.gov.sk/</a></p>

          <h4 class="govuk-heading-s">Správca</h4>
          <p class="govuk-body">Ministerstvo investícií, reginálneho rozvoja a informatizácie SR</p>

          <h4 class="govuk-heading-s">Dodávateľ</h4>
          <p class="govuk-body">dobrovoľníci,<br>
            slovensko.help,<br>
            bot.media,<br>
            Luigis Box,<br>
            LB,<br>
            SKIT<br>  
          </p>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-full">
        <img src="/public/assets/images/webove-portaly/korona-gov-sk.png" width="100%" alt="">
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">ISOH - Informačný systém odpadového hospodárstva</h3>
        <p class="govuk-body">Portál ISOH pomáha sprehľadniť, zefektívniť a zjednotiť tok informácií o odpade, a tak racionálnejšie rozhodovať v oblasti procesov odpadového hospodárstva.</p>

        <h4 class="govuk-heading-s">Odkaz</h4>
        <p class="govuk-body"><a href="https://www.isoh.gov.sk/uvod.html">https://www.isoh.gov.sk/uvod.html</a></p>

        <h4 class="govuk-heading-s">Správca</h4>
        <p class="govuk-body">Ministerstvo životného prostredia SR</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <img src="/public/assets/images/webove-portaly/isoh.png" width="100%" alt="">
      </div>
    </div>

{% endblock %}
