{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Metodické usmernenie" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Úvod</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-s">Obsah:</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#co_je" title="Čo je ID-SK">Čo je ID-SK</a></li>
                <li><a class="govuk-link" href="#co_nie_je" title="Čo ID-SK nie je">Čo ID-SK nie je</a></li>
                <li><a class="govuk-link" href="#metodika" title="Metodika UCD">Metodika UCD</a></li>
                <li><a class="govuk-link" href="#vyskum" title="Úvodná analýza a výskum zákazníckych skupín">Úvodná analýza a výskum zákazníckych skupín</a></li>
                <li><a class="govuk-link" href="#prototyp" title="Návrh navigácie prototypu a testovanie">Návrh navigácie prototypu a testovanie</a></li>
                <li><a class="govuk-link" href="#rozhranie" title="Benchmarking používateľského rozhrania">Benchmarking používateľského rozhrania</a></li>
                <li><a class="govuk-link" href="#optimalizacia" title="Optimalizácia analytikou správania používateľa">Optimalizácia analytikou správania používateľa</a></li>
                <li><a class="govuk-link" href="#vystupy" title="Forma výstupov plynúcich z metodiky UCD">Forma výstupov plynúcich z metodiky UCD</a></li>
            </ul>

            <h2 class="govuk-heading-l" id="co_je">Čo je ID-SK:</h2>
            <p class="govuk-body">ID-SK je jednotný dizajn manuál elektronických služieb Slovenska. Vznikol najmä za účelom:</p>
            
            <ul class="govuk-list govuk-list--bullet">
                <li>Zaistenia konzistentnosti dizajnu používateľských rozhraní elektronických služieb slovenského e-Governmentu. Bez jeho existencie by služby pôsobili nekonzistentne a zmätočne, občania by služby nepovažovali za dostatočne kredibilné.</li>
                <li>Zaistenie kvality dizajnu, zdrojového kódu a prístupnosti. Dizajn manuál poskytuje predpripravené komponenty, ktoré sú:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>responzívne – teda správne sa zobrazujú na rôznych veľkostiach obrazoviek;</li>
                        <li>prístupné – sú použiteľné pre skupiny používateľov so zníženou motorickou alebo zrakovou schopnosťou;</li>
                        <li>použiteľné – implementujú základné heuristiky (best practice) použiteľnosti.</li>
                    </ul>
                </li>
            </ul>
            
            <p class="govuk-body">ID-SK sa skladá zo 4 častí:</p>
            <ul class="govuk-list govuk-list--number">
                <li>Úvod – obsahuje všeobecný opis ID-SK a princípy tvorby kvalitného používateľského rozhrania.</li>
                <li>Webové komponenty – táto časť je zdrojom pre komponenty, ktoré budete potrebovať pri tvorbe elektronických služieb, ako napríklad tlačidlo, text, ikony alebo dátové polia. Všetky tieto komponenty sú dodávané s popisom a HTML kódom.</li>
                <li>Vzory – táto časť sa venuje správnemu používaniu webových komponentov a spôsobu zostavovania služieb, napríklad ako vytvoriť úvodnú stránku elektronickej služby, ako vytvoriť optimálnu následnosť otázok vo formulári alebo ako a kedy si vyžiadať od občana spätnú väzbu na služby.</li>
                <li>Slovník - pozostáva z názvoslovia používaného v používateľských rozhraniach spolu so špecifikáciou ich správneho použitia.</li>
            </ul>

            <h2 class="govuk-heading-l" id="co_nie_je">Čo ID-SK nie je</h2>

            <p class="govuk-body">ID-SK nemá ambíciu nahradiť dizajnový proces. Je len predpisom pre zostavovanie používateľských rozhraní. Použitím ID-SK nezabezpečíte, že služba bude kvalitná a bude poskytovať špičkový používateľský zážitok (User Experience). Aby ste zabezpečili špičkový používateľský zážitok, musíte do procesu tvorby elektronickej služby zahrnúť metodiku UCD – User-centered Design.</p>

            <h2 class="govuk-heading-l" id="metodika">Metodika UCD</h2>

            <p class="govuk-body">Elektronické služby štátu by mali byť pripravované metodikou user-centered dizajnu (UCD), aby sa zabezpečila zmysluplnosť a použiteľnosť služieb zo strany koncového používateľa – občana. Na dodržanie user-centered prístupu je nutné rozdeliť prípravnú fázu projektu do 4 fáz:</p>

            <ul class="govuk-list govuk-list--number">
                <li>Úvodná analýza a výskum zákazníckych skupín.</li>
                <li>Návrh navigácie, prototypu a testovanie.</li>
                <li>Benchmarking používateľského rozhrania.</li>
                <li>Optimalizácia používateľského rozhrania.</li>
            </ul>

            <h2 class="govuk-heading-l" id="vyskum">Úvodná analýza a výskum zákazníckych skupín</h2>

            <p class="govuk-body">V prípravnej fáze projektu, kedy je vykonávaná biznis analýza a technická analýza, je nutné analýzy doplniť o výskum správania koncových používateľov, ktorý overí navrhnuté biznis koncepty, doplní očakávania občanov v doméne danej elektronickej služby a zanalyzuje ich motivácie, problémy, znalosti a potreby. Aktivita by mala byť realizovaná ako kvalitatívny výskum s účasťou všetkých relevantných cieľových skupín. Výstupmi takejto aktivity musia byť požiadavky zákazníkov na prínos systému, popis požiadaviek na používateľské rozhranie a argumentácia ako používateľské rozhranie adresuje zdokumentované potreby koncových používateľov. Ďalšími výstupmi môžu byť aj definícia persón alebo definícia zákazníckych ciest.</p>

            <h2 class="govuk-heading-l" id="prototyp">Návrh navigácie prototypu a testovanie</h2>

            <p class="govuk-body">Realizované používateľské rozhranie musí byť tvorené v aktívnej kooperácii s koncovými používateľmi, aby projekt zabezpečil jeho úplnú použiteľnosť. Používatelia musia byť zapojení do tvorby informačnej architektúry a štruktúry navigácie. Tá by mala byť testovaná kvantitatívne so zapojením všetkých účastných cieľových skupín. Informačná architektúra musí zohľadňovať slovník, ktorý je definovaný v Jednotnom dizajn manuáli elektronických služieb.</p>
            <p class="govuk-body">Prototyp elektronickej služby musí byť testovaný aspoň 3x počas jeho prípravy so zástupcami všetkých relevantných cieľových skupín metódou formatívneho testovania použiteľnosti, ideálne však na týždennej báze. Zistenia z testovania musia byť následne zapracované do prototypu. Grafický dizajn a frontend programový kód elektronickej služby musí zohľadňovať Jednotný dizajn manuál elektronických služieb.</p>

            <h2 class="govuk-heading-l" id="rozhranie">Benchmarking používateľského rozhrania</h2>

            <p class="govuk-body">Pred uvedením systému do plnej prevádzky musí byť systém otestovaný sumatívnym testovaním použiteľnosti s účasťou všetkých relevantných skupín. Počas testovania budú zdokumentované metriky použiteľnosti (čas úlohy, chybovosť úlohy, efektivita úlohy, SUS skóre) pre kľúčové prípady použitia. Zároveň bude vykonané testovanie prístupnosti systému zohľadňujúce štandardy pre prístupnosť webu WCAG 2.0 AA- Web Content Accessibility Guidelines 2.0).</p>
            <p class="govuk-body">Používateľské rozhranie by malo spĺňať nasledovné kritéria:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>namerané SUS skóre je vyššie ako 50 bodov;</li>
                <li>miera dokončenia kľúčových úloh je vyššia ako 80%;</li>
                <li>chybovosť kľúčových úloh je nižšia ako 40%.</li>
            </ul>

            <h2 class="govuk-heading-l" id="optimalizacia">Optimalizácia analytikou správania používateľa</h2>

            <p class="govuk-body">Po nasadení systému do ostrej prevádzky bude systém iteratívne zlepšovaný na základe meraní z analytických nástrojov. Tieto by mali merať pri najmenšom chybovosť vykonávania úloh, čas úlohy, efektivitu úlohy a pomer transakcií vykonaných v používateľskom rozhraní (online) k počtu transakcií vykonaných pôvodným spôsobom (offline).</p>

            <h2 class="govuk-heading-l" id="vystupy">Forma výstupov plynúcich z metodiky UCD</h2>

            <p class="govuk-body">V nasledujúcej časti uvádzame odporúčanú formu výstupov, ktoré sú dodávané počas realizácie projektu so zaimplementovanou metodikou User-centered dizajnu.</p>

            <h3 class="govuk-heading-m">Report zákazníckeho výskumu</h3>
            <p class="govuk-body">Je dokument, ktorý hĺbkovo analyzuje poznatky zozbierané kvalitatívnym výskumom (rozhovormi so zákazníkmi). Vyhodnocuje sa ním priorita potrieb budúcich používateľov, ich motivácie na používanie produktu, problémy, s ktorými sa aktuálne stretávajú a definuje ich znalostný kapitál. Pozostáva z častí:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Metóda výskumu poznatkov</li>
                <li>Kľúčové požiadavky zákazníkov na prínos systému</li>
                <li>Zákaznícke cesty (customer journeys) (nie je nutné)</li>
                <li>Zákaznícke persóny (nie je nutné)</li>
            </ul>

            <h4 class="govuk-heading-s">Metóda výskumu poznatkov</h4>
            <p class="govuk-body">Táto časť obsahuje:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Použitú metodológiu</li>
                <li>Scenár výskumu</li>
                <li>Screener – zoznam špecifických kľúčových charakteristík  oslovených používateľov pre daný výskum</li>
                <li>Priebeh oslovovania a naplnenie screeneru</li>
                <li>Dátum vykonania výskumu</li>
            </ul>

            <h4 class="govuk-heading-s">Kľúčové požiadavky zákazníkov na prínos systému</h4>
            <p class="govuk-body">Táto časť pozostáva z:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Opisu kľúčovej požiadavky</li>
                <li>Rácio požiadavky opisujúcej poznatky z výskumu</li>
                <li>Návrhu spôsobu validácie požiadavky kvantitatívnym výskumom</li>
                <li>Konkrétnych návrhovriešení požiadavky v používateľskom rozhraní a ich prioritizácie</li>
            </ul>


            <h4 class="govuk-heading-s">Zákaznícke cesty (customer journeys)</h4>
            <p class=""govuk-body>Je diagram, ktorý mapuje spôsob používania systému skutočnými zákazníkmi na základe ich doterajších skúseností. Diagram spravidla obsahuje na osi X fázy procesu a na osi Y nasledujúce poznatky pre každú fázu:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Diagram aktivít</li>
                <li>Miesto, zariadenie, kanál</li>
                <li>Časový horizont</li>
                <li>Aktivita</li>
                <li>Motivácia</li>
                <li>Bariéry</li>
                <li>Vynaložené úsilie</li>
                <li>Cieľ a potreba</li>
            </ul>

            <p class="govuk-body">Zákaznícke cesty by mali uvádzať všetky kľúčové prípady použitia.</p>

            <h4 class="govuk-heading-s">Zákaznícke persóny</h4>
            <p class="govuk-body">Sú predstaviteľmi cieľových skupín používateľského rozhrania a agregujú typické správanie skupiny používateľov. Pre každú cieľovú skupinu by mali byť vytvorené 1-3 persóny.</p>

            <h3 class="govuk-heading-m">Mapa stránky a/alebo “user flow” (cesty zákazníka)</h3>
            <p class="govuk-body">Oba prístupy (mapa stránky aj “user flow”) môžu byť využité spolu alebo samostatne. Mapa stránky sa používa na popis stromových štruktúr aplikácii alebo webových sídiel. “User flow” (cesty zákazníka) opisuje lineárnu štruktúru aplikácie alebo webového sídla.</p>

            <h3 class="govuk-heading-m">Prototyp</h3>
            <p class="govuk-body">Prototyp je skupina čiernobielych skíc používateľského rozhrania (wireframov) vo forme obrázkov, ktoré sú navzájom poprepájané tak, aby používateľom pripomínali skutočné používateľské rozhranie. Wireframy sú pritom pripravené takým spôsobom, aby zohľadňovali pravidlá definované v Jednotnom dizajn manuáli elektronických služieb.</p>

            <h3 class="govuk-heading-m">Report formatívneho testovania</h3>
            <p class="govuk-body">Formatívne testovanie použiteľnosti prototypu je vykonané na vzorke aspoň 6 respondentov pre každú relevantnú cieľovú skupinu. Výstupom testovania je report, ktorý obsahuje:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Sprioritizovaný zoznam identifikovaných problémov použiteľnosti podľa frekvencie a závažnosti,</li>
                <li>scenár testovania,</li>
                <li>screener – zoznam špecifických kľúčových charakteristík  oslovených používateľov pre daný výskum,</li>
                <li>priebeh oslovovania a naplnenie screeneru,</li>
                <li>dátum vykonania výskumu,</li>
                <li>popis metodiky testovania.</li>
            </ul>

            <h3 class="govuk-heading-m">Report sumatívneho testovania</h3>
            <p class="govuk-body">Sumatívne testovanie použiteľnosti prototypu je vykonané na vzorke aspoň 21 respondentov, ktorí sú zvolení z cieľových skupín používateľského rozhrania. Výstupom testovania je report, ktorý obsahuje:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>sprioritizovaný zoznam identifikovaných problémov použiteľnosti podľa frekvencie a závažnosti,</li>
                <li>dokumentáciu meraných metrík pre kľúčové prípady použitia:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>čas úlohy</li>
                        <li>chybovosť úlohy</li>
                        <li>efektivita úlohy</li>
                    </ul>
                </li>
                <li>výsledok merania SUS skóre,</li>
                <li>scenár testovania,</li>
                <li>screener – zoznam špecifických kľúčových charakteristík  oslovených používateľov pre daný výskum,</li>
                <li>priebeh oslovovania a naplnenie screeneru,</li>
                <li>dátum vykonania výskumu</li>
                <li>popis metodiky testovania.</li>
            </ul>

            <h3 class="govuk-heading-m">Report testovania prístupnosti</h3>
            <p class="govuk-body">Report musí deklarovať splnenie požiadaviek podľa štandardu WCAG 2.0 AA a podľa výnosu Ministerstva financií Slovenskej republiky č. 55/2014 Z. z. o štandardoch pre informačné systémy verejnej správy.</p>

            
        </div>
    </div>

  </div>
{% endblock %}
