{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  "label": {
    "text": "Zadajte vaše telefónne číslo"
  },
  "id": "input-tel-1",
  "name": "tel",
  "type": "tel",
  "autocomplete": "on",
  "pattern": "[0-9]{3}-[0-9]{2}-[0-9]{3}"
}) }}

{{ govukCheckboxes({
  "idPrefix": "checkbox-sms",
  "name": "sms",
  "items": [
    {
      "value": "sms",
      "text": "Chcem byť kontaktovaný SMS správou"
    }
  ]
}) }}
