{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  "tag": {
    "text": "TESTOVACIA VERZIA"
  },
  "html": "Toto je testovacia verzia služby. Odoslané údaje nebudú zaznamenané. <a class=\"govuk-link\" href=\"#\" title=\"Váš názor\">Váš názor</a> nám pomôže službu zlepšiť."
}) }}