{% from "idsk-warning-text/macro.njk" import idskWarningText %}

{{ idskWarningText({
  "text": "Ak sa nezaregistrujete, môžete dostať pokutu až do výšky 5 000 €.",
  "iconFallbackText": "Warning"
}) }}
