{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Wordpress téma" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      { text: 'ID-SK frontend', href: '/' + legacyQuery },
      { text: pageName }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Úvod</span>
    <h1 class="govuk-heading-xl">{{ pageName }}</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">Wordpress téma, ktorá implementuje ID-SK</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="https://wordpress.org/themes/idsk-template/" title="odkaz na tému">odkaz na tému</a>
          </li>
        </ul>

        <p class="govuk-body">Pre správne fungovanie témy odporúčame použiť tieto pluginy:</p>

        <p class="govuk-body"><b>ID-SK Toolkit</b> od Slovensko IT, a.s.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="https://wordpress.org/plugins/idsk-toolkit/" title="odkaz na plugin">odkaz na plugin</a>
          </li>
          <li>Gutenberg ID-SK komponenty a vzory.</li>
          <li>rozširujúce funkcionality k téme.</li>
        </ul>

        <p class="govuk-body"><b>ID-SK Demo data</b> od Slovensko IT, a.s.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="https://wordpress.org/plugins/idsk-demodata/" title="odkaz na plugin">odkaz na plugin</a>
          </li>
          <li>balík s demo dátami k ID-SK téme.</li>
        </ul>

        <p class="govuk-body"><b>Contact Form 7</b> od Takayuki Miyoshi</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="https://wordpress.org/plugins/contact-form-7/" title="odkaz na plugin">odkaz na plugin</a>
          </li>
          <li>odporúčame použiť pre feedback formulár v téme.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
