{% from "input/macro.njk" import govukInput %}
{% from "../../../../src/idsk/components/button/macro.njk" import idskButton %}

{{ govukInput({
  "label": {
    "text": "E-mailová adresa"
  },
  "id": "input-email",
  "name": "email"
}) }}
{{ idskButton({
  "text": "Uložiť a pokračovať"
}) }}