{% from "panel/macro.njk" import govukPanel %}

{{ govukPanel({
  "titleHtml": "Žiadosť ukončená",
  "text": "Vaše referenčné číslo je HDJ2123F"
}) }}

<p class="govuk-body">Poslali sme vám email s potvrdením.</p>

<h2 class="govuk-heading-m">Čo teraz?</h2>
<p class="govuk-body">Poslali sme vašu žiadosť na volebný úrad.</p>
<p class="govuk-body">Budú Vás kontaktovať s cieľom potvrdenia vašej registrácie alebo Vás požiadajú o viac informácií.</p>