{% from "../../../../src/idsk/components/intro-block/macro.njk" import idskIntroBlock %}
{{ idskIntroBlock({
    bottomMenu: [
    {
      item:"Eurofondy",
      href:"#"},
    {
      item:"Kontakty",
      href:"#"
    },
    {
      item:"Informatizácia",
      href:"#"
    },
    {
      item:"Investície",
      href:"#"
    },
    {
      item:"O ministerstve",
      href:"#"
    }],
    sideMenu: [
    {
      item:"O Eurofondoch",
      href:"#"},
    {
      item:"Aktuality",
      href:"#"
    },
    {
      item:"O Ministerstve",
      href:"#"
    },
    {
      item:"Aktuálne výzvy",
      href:"#"
    },
    {
      item:"Dokumenty",
      href:"#"
    }],
    classBackground: "app-pane-transparent",
    searchEnabled: true
})}}
