{% from "radios/macro.njk" import govukRadios %}

{{ govukRadios({
  "idPrefix": "example",
  "name": "example",
  "fieldset": {
    "legend": {
      "text": "V ktorej časti Slovenska žijete?"
    }
  },
  "items": [
    {
      "value": "zs",
      "text": "Západné Slovensko"
    },
    {
      "value": "ss",
      "text": "Stredné Slovensko"
    },
    {
      "value": "vs",
      "text": "Východné Slovensko"
    },
    {
      "divider": "alebo"
    },
    {
      "value": "ms",
      "text": "Žijem mimo Slovenska"
    }
  ]
}) }}