{% from "../../../../src/idsk/components/footer-extended/macro.njk" import idskFooterExtended %}
{{ idskFooterExtended({
    subtitles: [{item:"Pomoc", href:"#1"}, {item:"Cookies",href:"#2"}, {item:"Kontakty",href:"#3"}, {item:"Mapa Stránky",href:"#4"}, {item:"RSS",href:"#5"}, {item:"Vyhlásenie o prístupnosti",href:"#6"}]
    }) 
}}