{% from "radios/macro.njk" import govukRadios %}

{{ govukRadios({
  "idPrefix": "example-3",
  "classes": "govuk-radios--inline",
  "name": "example3",
  "fieldset": {
    "legend": {
      "text": "Máte už vytvorený osobný účet?"
    }
  },
  "items": [
    {
      "value": "yes",
      "text": "Áno",
      "disabled": true
    },
    {
      "value": "no",
      "text": "Nie",
      "disabled": true
    }
  ]
}) }}
