{% from "../../../../src/idsk/components/table-filter/macro.njk" import idskTableFilter %}
{{ idskTableFilter({
  "filters": [
    {
      "name": "Téma",
      "id": "filter1",
      "searchInputTitle": "Filter 1"
    },
    {
      "name": "Téma",
      "id": "filter2",
      "searchInputTitle": "Filter 2"
    },
    {
      "name": "Téma",
      "id": "filter3",
      "searchInputTitle": "Filter 3"
    }]
}) }}
