{% from "textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  "name": "more-detail",
  "id": "more-detail-1",

  "label": {
    "text": "Prečo nemôžete poskytnúť číslo vášho preukazu poistenca?"
  }
}) }}
