{% from "../../../../src/idsk/components/intro-block/macro.njk" import idskIntroBlock %}
{{ idskIntroBlock({
  sideMenu: [
    {
      item:"O Eurofondoch",
      href:"#"},
    {
      item:"Aktuality",
      href:"#"
    },
    {
      item:"O Ministerstve",
      href:"#"
    },
    {
      item:"Aktuálne výzvy",
      href:"#"
    },
    {
      item:"Dokumenty",
      href:"#"
    }],
  searchEnabled: true
})}}
