{% from "../../../../src/idsk/components/table-filter/macro.njk" import idskTableFilter %}
{{ idskTableFilter({
  "id": "advanced-filter",
  "categories": [
    {
      "title": "Bydlisko",
      "filters": [
        {
          "id": "filter1",
          "inputTitle": "Filter 1"
        },
        {
          "id": "filter2",
          "inputTitle": "Filter 2"
        },
        {
          "id": "filter3",
          "inputTitle": "Filter 3"
        },
        {
          "id": "filter4",
          "inputTitle": "Filter 4"
        },
        {
          "id": "filter5",
          "inputTitle": "Filter 5"
        },
        {
          "id": "filter6",
          "inputTitle": "Filter 6",
          "options": [
            {
              "value": "",
              "inputTitle": "Vybrať filter"
            },
            {
              "value": "filter6-1",
              "inputTitle": "Filter 6-1"
            },
            {
              "value": "filter6-2",
              "inputTitle": "Filter 6-2",
              "selected": "False"
            },
            {
              "value": "filter6-3",
              "inputTitle": "Filter 6-3",
              "disabled": "True"
            }
          ]
        }
      ]
    },
    {
      "title": "Názov inštitúcie",
      "filters": [
        {
          "id": "filter7",
          "inputTitle": "Filter 7"
        },
        {
          "id": "filter8",
          "inputTitle": "Filter 8"
        },
        {
          "id": "filter9",
          "inputTitle": "Filter 9"
        },
        {
          "id": "filter10",
          "inputTitle": "Filter 10"
        },
        {
          "id": "filter11",
          "inputTitle": "Filter 11"
        },
        {
          "id": "filter12",
          "inputTitle": "Filter 12",
          "options": [
            {
              "value": "",
              "inputTitle": "Vybrať filter"
            },
            {
              "value": "filter12-1",
              "inputTitle": "Filter 12-1"
            },
            {
              "value": "filter12-2",
              "inputTitle": "Filter 12-2",
              "selected": "False"
            },
            {
              "value": "filter12-3",
              "inputTitle": "Filter 12-3",
              "disabled": "True"
            }
          ]
        }
      ]
    },
    {
      "title": "Parametre",
      "filters": [
        {
          "id": "filter13",
          "inputTitle": "Filter 13"
        },
        {
          "id": "filter14",
          "inputTitle": "Filter 14"
        },
        {
          "id": "filter15",
          "inputTitle": "Filter 15"
        },
        {
          "id": "filter16",
          "inputTitle": "Filter 16"
        },
        {
          "id": "filter17",
          "inputTitle": "Filter 17"
        },
        {
          "id": "filter18",
          "inputTitle": "Filter 18",
          "options": [
            {
              "value": "",
              "inputTitle": "Vybrať filter"
            },
            {
              "value": "filter18-1",
              "inputTitle": "Filter 18-1"
            },
            {
              "value": "filter18-2",
              "inputTitle": "Filter 18-2",
              "selected": "False"
            },
            {
              "value": "filter18-3",
              "inputTitle": "Filter 18-3",
              "disabled": "True"
            }
          ]
        }
      ]
    }
  ]
}) }}
