{% from "checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  "idPrefix": "nationality",
  "name": "nationality",
  "items": [
    {
      "value": "odpad3d",
      "text": "Odpad z fariem a poľnohospodárstva",
      "disabled": true
    }
  ]
}) }}