{% from "../../../../src/idsk/components/footer-extended/macro.njk" import idskFooterExtended %}
{{ idskFooterExtended({
    characterLength : 500,
    showFeedback : "true",
    upButtonEnabled : "true",
    designAddress : "#",
    logo: "footer-extended-logo.svg",
    feedbackButtonAddress : "idsk.gov.sk",
    firstColumn: {
      title: "Navigácia v 2 stĺpcoch (2/3)",
      leftItems: [
        {
          name:"Link small Regular 12/20", 
          href:"#"  
        },
        {
          name:"Link small Regular 13/20", 
          href:"#"
        },
        {
          name:"Link small Regular 14/20", 
          href:"#"
        },
        {
          name:"Link small Regular 15/20", 
          href:"#"
        }
      ],
      rightItems: [
        {
          name:"Link small Regular 16/20", 
          href:"#"  
        },
        {
          name:"Link small Regular 17/20", 
          href:"#"
        },
        {
          name:"Link small Regular 18/20", 
          href:"#"
        },
        {
          name:"Link small Regular 19/20", 
          href:"#"
        }
      ]
    },

    secondColumn: {
      title: "Navigácia v 1 stĺpci (1/3)",
      items: [
        {
          name:"Link small Regular 20/20", 
          href:"#"  
        },
        {
          name:"Link small Regular 21/20", 
          href:"#"
        },
        {
          name:"Link small Regular 22/20", 
          href:"#"
        },
        {
          name:"Link small Regular 23/20", 
          href:"#"
        }
      ]
    },
        
    thirdColumn: {
      title: "Dodatočná hyperlinková navigácia (2/3)",
      leftItems: [
        {
          name:"Link small Regular 12/20", 
          href:"#"  
        },
        {
          name:"Link small Regular 13/20", 
          href:"#"
        },
        {
          name:"Link small Regular 14/20", 
          href:"#"
        },
        {
          name:"Link small Regular 15/20", 
          href:"#"
        }
      ],
      rightItems: [
        {
          name:"Link small Regular 16/20", 
          href:"#"  
        },
        {
          name:"Link small Regular 17/20", 
          href:"#"
        },
        {
          name:"Link small Regular 18/20", 
          href:"#"
        },
        {
          name:"Link small Regular 19/20", 
          href:"#"
        }
      ]
    },

    fourthColumn: {
      title: "Navigácia v 1 stĺpci (1/3)",
      items: [
        {
          name:"Link small Regular 28/20", 
          href:"#"  
        },
        {
          name:"Link small Regular 29/20", 
          href:"#"
        },
        {
          name:"Link small Regular 30/20", 
          href:"#"
        },
        {
          name:"Link small Regular 31/20", 
          href:"#"
        }
      ]
    },

    subtitles: [
      {
        item:"Pomoc", 
        href:"#"
      }, 
      {
        item:"Cookies",
        href:"#"
      }, 
      {
        item:"Kontakty",
        href:"#"
      }, 
      {
        item:"Mapa Stránky",
        href:"#"
      }, 
      {
        item:"RSS",
        href:"#"
      }, 
      {
        item:"Vyhlásenie o prístupnosti",
        href:"#"
      }
    ],
    dropdownItems: [
      {
        text:"Gramatická chyba", 
        value:"#"
      },
      {
        text:"chyba zobrazovania",
        value:"#"
      }, 
      {
        text:"chyba obsahu",
        value:"#"
      }
    ]
  }) 
}}