{% from "../../../../src/idsk/components/intro-block/macro.njk" import idskIntroBlock %}
{{ idskIntroBlock({ 
    bottomMenu: [
    {
      item:"Eurofondy", 
      href:"#"}, 
    {
      item:"Kontakty",
      href:"#"
    }, 
    {
      item:"Informatizácia",
      href:"#"
    }, 
    { 
      item:"Investície",
      href:"#"
    }, 
    {
      item:"O ministerstve",
      href:"#"
    }],
    sideMenu: [
    {
      item:"Financovanie zo štátneho rozpočtu", 
      href:"#"
    }, 
    {
      item:"Riadenie kvality (QA) ITVS projektov",
      href:"#"
    }, 
    {
      item:"Číselník životných situácií",
      href:"#"
    }, 
    { 
      item:"MetaIS",
      href:"#"
    }, 
    {
      item:"Pracovná skupina Lepšie služby",
      href:"#"
    }],
    classBackground: "app-pane-blue",
    searchEnabled: false,
    headline: "Informatizácia"
})}}