{% from "../../../../src/idsk/components/feedback/macro.njk" import idskFeedback %}
{{ idskFeedback({
counter : 0,
characterLength : 200,
feedbackOptions: [
        {
          name:"Veľmi nespokojný"  
        },
        {
          name:"Nespokojný"
        },
        {
          name:"Ani spokojný ani nespokojný"
        },
        {
          name:"Spokojný"
        },
        {
          name:"Veľmi spokojný"
        }
      ]}) 
}}