{% from "../../../../src/idsk/components/intro-block/macro.njk" import idskIntroBlock %}
{{ idskIntroBlock({ 
    mainTitle : "Vitajte na stránke Ministerstva investícií, regionálneho rozvoja a informatizácie. Dozvedieť sa",
    bottomMenu: [
    {
      item:"Pomoc", 
      href:"#"}, 
    {
      item:"Cookies",
      href:"#"
    }, 
    {
      item:"Kontakty",
      href:"#"
    }, 
    { 
      item:"Mapa Stránky",
      href:"#"
    }, 
    {
      item:"RSS",
      href:"#"
    }, 
    {
      item:"Vyhlásenie",
      href:"#"
    }],
    sideMenu: [
    {
      item:"Financovanie", 
      href:"#"
    }, 
    {
      item:"Riadenie kvality",
      href:"#"
    }, 
    {
      item:"Číselník",
      href:"#"
    }, 
    { 
      item:"MetaIS",
      href:"#"
    }, 
    {
      item:"Pracovná skupina",
      href:"#"
    }],
    classContainer:"govuk-width-container",
    classBackground: "app-pane-grey",
    searchEnabled: true
})}}