{% from "../../../../src/idsk/components/footer-extended/macro.njk" import idskFooterExtended %}
{{ idskFooterExtended({
    characterLength : 200,
    showFeedback : "true",
    designAddress : "idsk.gov.sk",
    firstColumn: {
      title: "Navigácia v 2 stĺpcoch (2/3)",
      leftItems: [
        {
          name:"Link small Regular 12/20"  
        },
        {
          name:"Link small Regular 13/20"
        },
        {
          name:"Link small Regular 14/20"
        },
        {
          name:"Link small Regular 15/20"
        }
      ],
      rightItems: [
        {
          name:"Link small Regular 16/20"  
        },
        {
          name:"Link small Regular 17/20"
        },
        {
          name:"Link small Regular 18/20"
        },
        {
          name:"Link small Regular 19/20"
        }
      ]
    },

    secondColumn: {
      title: "Navigácia v 1 stĺpci (1/3)",
      items: [
        {
          name:"Link small Regular 20/20"  
        },
        {
          name:"Link small Regular 21/20"
        },
        {
          name:"Link small Regular 22/20"
        },
        {
          name:"Link small Regular 23/20"
        }
      ]
    },

    subtitles: [
    { 
      item:"Pomoc", 
      href:"#1"
    }, 
    {
      item:"Cookies",
      href:"#2"}, 
    {
      item:"Kontakty",
      href:"#3"
    }, 
    {
      item:"Mapa Stránky",
      href:"#4"
    },
    {
      item:"RSS",
      href:"#5"
    },
    {
      item:"Vyhlásenie o prístupnosti",
      href:"#6"
    }],
    dropdownItems: [
    {
      value: "published",
      text: "Recently published"
    },
    {
      value: "updated",
      text: "Recently updated",
      selected: true
    },
    {
      value: "views",
      text: "Most views"
    },
    {
      value: "comments",
      text: "Most comments"
    }
  ]
    }) 
}}