{% from "../../../../src/idsk/components/table-filter/macro.njk" import idskTableFilter %}
{{ idskTableFilter({
  "filters": [
    {
      "id": "filter1",
      "searchInputTitle": "Filter 1"
    },
    {
      "id": "filter2",
      "searchInputTitle": "Filter 2"
    },
    {
      "id": "filter3",
      "searchInputTitle": "Filter 3"
    },
    {
      "id": "filter4",
      "searchInputTitle": "Filter 1"
    },
    {
      "id": "filter5",
      "searchInputTitle": "Filter 2"
    },
    {
      "id": "filter6",
      "searchInputTitle": "Filter 3"
    },
    {
      "id": "filter7",
      "searchInputTitle": "Filter 1"
    },
    {
      "id": "filter8",
      "searchInputTitle": "Filter 2"
    },
    {
      "id": "filter9",
      "searchInputTitle": "Filter 3"
    }
  ]
}) }}
