{% from "../../../../src/idsk/components/intro-block/macro.njk" import idskIntroBlock %}
{{ idskIntroBlock({ 
    mainTitle : "Vitajte na stránke Ministerstva investícií, regionálneho rozvoja a informatizácie. Dozvedieť sa",
    bottomMenu: [
    {
      item:"Eurofondy", 
      href:"#"}, 
    {
      item:"Kontakty",
      href:"#"
    }, 
    {
      item:"Informatizácia",
      href:"#"
    }, 
    { 
      item:"Investície",
      href:"#"
    }, 
    {
      item:"O ministerstve",
      href:"#"
    }],
    sideMenu: [
    {
      item:"O Eurofondoch", 
      href:"#"}, 
    {
      item:"Aktuality",
      href:"#"
    }, 
    {
      item:"O Ministerstve",
      href:"#"
    }, 
    { 
      item:"Aktuálne výzvy",
      href:"#"
    }, 
    {
      item:"Dokumenty",
      href:"#"
    }],
    classContainer:"govuk-width-container",
    searchEnabled: true
})}}