{% from "../../../../src/idsk/components/intro-block/macro.njk" import idskIntroBlock %}
{{ idskIntroBlock({ 
    mainTitle : "Vitajte na stránke Ministerstva investícií, regionálneho rozvoja a informatizácie. Dozvedieť sa",
    bottomMenu: [
    {
      item:"Pomoc", 
      href:"#"}, 
    {
      item:"Cookies",
      href:"#"
    }, 
    {
      item:"Kontakty",
      href:"#"
    }, 
    { 
      item:"Mapa Stránky",
      href:"#"
    }, 
    {
      item:"RSS",
      href:"#"
    }, 
    {
      item:"Vyhlásenie",
      href:"#"
    }],
    sideMenu: [
    {
      item:"Financovanie zo štátneho rozpočtu", 
      href:"#"
    }, 
    {
      item:"Riadenie kvality (QA) ITVS projektov",
      href:"#"
    }, 
    {
      item:"Číselník životných situácií",
      href:"#"
    }, 
    { 
      item:"MetaIS",
      href:"#"
    }, 
    {
      item:"Pracovná skupina Lepšie služby",
      href:"#"
    }],
    classContainer:"govuk-width-container",
    classBackground: "app-pane-blue",
    searchEnabled: false,
    headline: "Informatizácia"
})}}