{{ idskTable({
  uniqueId: "priklad-2",
  title: "Mestá",
  caption: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.",
  maxRowsView: 8,
  filter: idskTableFilter({
    "id": "example-table-2-filter",
    "filters": [
      {
        "id": "mesto",
        "inputTitle": "Mesto"
      },
      {
        "id": "kraj",
        "inputTitle": "Kraj"
      },
      {
        "id": "okres",
        "inputTitle": "Okres",
        "options": [
        {
          "value": "",
          "inputTitle": "Vybrať okres"
        },
        {
          "value": "bratislava",
          "inputTitle": "Bratislava"
        },
        {
          "value": "zilina",
          "inputTitle": "Žilina"
        },
        {
          "value": "kosice",
          "inputTitle": "Košice"
        }
      ]
      },
      {
        "id": "rozloha",
        "inputTitle": "Rozloha"
      },
      {
        "id": "hustota",
        "inputTitle": "Hustota"
      }
    ]
  }),
  head: [
    {
      text: "Mesto"
    },
    {
      text: "Kraj"
    },
    {
      text: "Okres"
    },
    {
      text: "Rozloha",
      format: "numeric"
    },
    {
      text: "Hustota",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Bratislava"
      },
      {
        text: "Bratislavský"
      },
      {
        text: "Bratislava"
      },
      {
        text: "367,66",
        format: "numeric"
      },
      {
        text: "1 199,34",
        format: "numeric"
      }
    ],
    [
      {
        text: "Košice"
      },
      {
        text: "Košický"
      },
      {
        text: "Košice"
      },
      {
        text: "237,05",
        format: "numeric"
      },
      {
        text: "1 004,59",
        format: "numeric"
      }
    ],
    [
      {
        text: "Prešov"
      },
      {
        text: "Prešovský"
      },
      {
        text: "Prešov"
      },
      {
        text: "70,43",
        format: "numeric"
      },
      {
        text: "1 247,85",
        format: "numeric"
      }
    ],
    [
      {
        text: "Žilina"
      },
      {
        text: "Žilinský"
      },
      {
        text: "Žilina"
      },
      {
        text: "80,03",
        format: "numeric"
      },
      {
        text: "1 004,45",
        format: "numeric"
      }
    ],
    [
      {
        text: "Banská Bystrica"
      },
      {
        text: "Banskobystrický"
      },
      {
        text: "Banská Bystrica"
      },
      {
        text: "103,38",
        format: "numeric"
      },
      {
        text: "751,78",
        format: "numeric"
      }
    ],
    [
      {
        text: "Nitra"
      },
      {
        text: "Nitriansky"
      },
      {
        text: "Nitra"
      },
      {
        text: "100,48",
        format: "numeric"
      },
      {
        text: "756,65",
        format: "numeric"
      }
    ],
    [
      {
        text: "Trnava"
      },
      {
        text: "Trnavský"
      },
      {
        text: "Trnava"
      },
      {
        text: "71,54",
        format: "numeric"
      },
      {
        text: "904,88",
        format: "numeric"
      }
    ],
    [
      {
        text: "	Trenčín"
      },
      {
        text: "Trenčiansky"
      },
      {
        text: "Trenčín"
      },
      {
        text: "82",
        format: "numeric"
      },
      {
        text: "675,8",
        format: "numeric"
      }
    ],
    [
      {
        text: "Martin"
      },
      {
        text: "Žilinský"
      },
      {
        text: "Martin"
      },
      {
        text: "67,74",
        format: "numeric"
      },
      {
        text: "793,67",
        format: "numeric"
      }
    ],
    [
      {
        text: "Poprad"
      },
      {
        text: "Prešovský"
      },
      {
        text: "Poprad"
      },
      {
        text: "63,11",
        format: "numeric"
      },
      {
        text: "808,08",
        format: "numeric"
      }
    ],[
      {
        text: "Bratislava"
      },
      {
        text: "Bratislavský"
      },
      {
        text: "Bratislava"
      },
      {
        text: "367,66",
        format: "numeric"
      },
      {
        text: "1 199,34",
        format: "numeric"
      }
    ],
    [
      {
        text: "Košice"
      },
      {
        text: "Košický"
      },
      {
        text: "Košice"
      },
      {
        text: "237,05",
        format: "numeric"
      },
      {
        text: "1 004,59",
        format: "numeric"
      }
    ],
    [
      {
        text: "Prešov"
      },
      {
        text: "Prešovský"
      },
      {
        text: "Prešov"
      },
      {
        text: "70,43",
        format: "numeric"
      },
      {
        text: "1 247,85",
        format: "numeric"
      }
    ],
    [
      {
        text: "Žilina"
      },
      {
        text: "Žilinský"
      },
      {
        text: "Žilina"
      },
      {
        text: "80,03",
        format: "numeric"
      },
      {
        text: "1 004,45",
        format: "numeric"
      }
    ],
    [
      {
        text: "Banská Bystrica"
      },
      {
        text: "Banskobystrický"
      },
      {
        text: "Banská Bystrica"
      },
      {
        text: "103,38",
        format: "numeric"
      },
      {
        text: "751,78",
        format: "numeric"
      }
    ],
    [
      {
        text: "Nitra"
      },
      {
        text: "Nitriansky"
      },
      {
        text: "Nitra"
      },
      {
        text: "100,48",
        format: "numeric"
      },
      {
        text: "756,65",
        format: "numeric"
      }
    ],
    [
      {
        text: "Trnava"
      },
      {
        text: "Trnavský"
      },
      {
        text: "Trnava"
      },
      {
        text: "71,54",
        format: "numeric"
      },
      {
        text: "904,88",
        format: "numeric"
      }
    ],
    [
      {
        text: "	Trenčín"
      },
      {
        text: "Trenčiansky"
      },
      {
        text: "Trenčín"
      },
      {
        text: "82",
        format: "numeric"
      },
      {
        text: "675,8",
        format: "numeric"
      }
    ],
    [
      {
        text: "Martin"
      },
      {
        text: "Žilinský"
      },
      {
        text: "Martin"
      },
      {
        text: "67,74",
        format: "numeric"
      },
      {
        text: "793,67",
        format: "numeric"
      }
    ],
    [
      {
        text: "Poprad"
      },
      {
        text: "Prešovský"
      },
      {
        text: "Poprad"
      },
      {
        text: "63,11",
        format: "numeric"
      },
      {
        text: "808,08",
        format: "numeric"
      }
    ]
  ],
  source:
  {
    name: "sk.wikipedia.org",
    href: "https://sk.wikipedia.org/wiki/Zoznam_miest_na_Slovensku"
  }
}) }}
