{% from "../../../../src/idsk/components/intro-block/macro.njk" import idskIntroBlock %}
{{ idskIntroBlock({ 
    bottomMenu: [
    {
      item:"Pomoc", 
      href:"#"}, 
    {
      item:"Cookies",
      href:"#"
    }, 
    {
      item:"Kontakty",
      href:"#"
    }, 
    { 
      item:"Mapa Stránky",
      href:"#"
    }, 
    {
      item:"RSS",
      href:"#"
    }, 
    {
      item:"Vyhlásenie o prístupnosti",
      href:"#"
    }]
})}}