{% from "../../../../src/idsk/components/footer/macro.njk" import idskFooter %}
{{ idskFooter({
    logo: false,
    meta: {
        copy: "Prevádzkovateľom služby je Ministerstvo investícií, regionálneho rozvoja a informatizácie Slovenskej republiky. Vytvorené v súlade s Jednotným dizajn manuálom elektronických služieb.",
        items: [
            {
                href: '#1',
                text: 'Položka navigácie 1'
            },
            {
                href: '#2',
                text: 'Položka navigácie 2'
            },
            {
                href: '#3',
                text: 'Položka navigácie 3'
            }
        ]
    }
}) }}
