{% from "../../../../src/idsk/components/footer/macro.njk" import idskFooter %}
{{ idskFooter({
    logo: true,
    meta: {
        items: [
            {
                href: '#1',
                text: 'Položka navigácie 1'
            },
            {
                href: '#2',
                text: 'Položka navigácie 2'
            },
            {
                href: '#3',
                text: 'Položka navigácie 3'
            }
        ]
    }
}) }}