{% from "../../../../src/idsk/components/header-extended/macro.njk" import idskHeaderExtended %}
{{ idskHeaderExtended({
    logo: "logo-mirri-farebne.svg",
    logoSmall: "logo-mirri-small-farebne.svg",
    logoWhite: "logo-mirri-biele.svg",
    logoSmallWhite: "logo-mirri-small-biele.svg"
}) }}