{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  "tag": {
    "text": "NOVÁ VERZIA"
  },
  "html": "Toto je nová verzia elektronickej služby. <a class=\"govuk-link\" href=\"#\" title=\"Váš názor\">Váš názor</a> nám pomôže službu zlepšiť. <a class=\"govuk-link\" href=\"#\" title=\"Prepnúť na starú verziu\">Prepnúť na starú verziu</a>."
}) }}