{% from "../../../../src/idsk/components/warning-text/macro.njk" import idskWarningText %}
{{ idskWarningText({
    iconFallbackText: "warning",
    html: "Upozornenie - Ak prichádzate z rizikovej krajiny, musíte vyplniť <a class=\"govuk-link\" href='#' title='formulár'>formulár</a>."
}) }}