{% from "../../../../src/idsk/components/warning-text/macro.njk" import idskWarningText %}
{{ idskWarningText({
    type: "info",
    iconFallbackText: "info",
    html: "Repozitár pre novú verziu ID-SK Frontend nájdete na <a class='govuk-link' href='https://github.com/id-sk/id-sk-frontend/' title='github ID-SK' target='_blank'>github-e</a>."
}) }}
