{% extends "layout.njk" %}


{% block header %}
    {% from "../../../src/idsk/components/header-web/macro.njk" import idskHeaderWeb %}
    {{ idskHeaderWeb({
        headerType: "website",
        brand: {
            languages: [
                {
                    text: "Slovenčina",
                    selected: true,
                    link: "#"
                },
                {
                    text: "Deutsch",
                    selected: false,
                    link: "#"
                },
                {
                    text: "English",
                    selected: false,
                    link: "#"
                },
                {
                    text: "Español",
                    selected: false,
                    link: "#"
                }
            ]
        },

        main: {
            logoSrc: "/public/assets/images/header-web/logo-mirri-farebne.svg",
            title: "IDSK.SK",
            loginButton: true,
            profileButton: true,
            secondaryButton: false
        },

       search: true,

        navBar: {
            navigation: [
                {
                    link: '#1',
                    text: 'Občan',
                    submenu: [
                        {
                            link: '#1',
                            text: 'Eurofondy'
                        },
                        {
                            link: '#2',
                            text: 'Regionálny rozvoj'
                        },
                        {
                            link: '#3',
                            text: 'Informatizácia'
                        },
                        {
                            link: '#4',
                            text: 'Investície'
                        }
                    ]
                },
                {
                    link: '#2',
                    text: 'Podnikateľ',
                    submenu: [
                        {
                            link: '#1',
                            text: 'Eurofondy'
                        },
                        {
                            link: '#2',
                            text: 'Regionálny rozvoj'
                        },
                        {
                            link: '#3',
                            text: 'Informatizácia'
                        },
                        {
                            link: '#4',
                            text: 'Investície'
                        },
                        {
                            link: '#3',
                            text: 'Informatizácia'
                        },
                        {
                            link: '#4',
                            text: 'Investície'
                        }
                    ]
                },
                {
                    link: '#3',
                    text: 'Dôchodca'
                },
                {
                    link: '#4',
                    text: 'Elektronické služby'
                },
                {
                    link: '#5',
                    text: 'Inovácie'
                }
            ]
        },

        banner: {
            text: "Nová verzia ID-SK Frontend nahradzuje pôvodnú verziu."
        }
    }) }}
{% endblock %}
