{% extends "layout.njk" %}


{% block header %}
    {% from "../../../src/idsk/components/header-web/macro.njk" import idskHeaderWeb %}
    {{ idskHeaderWeb({
        brand: {
            languages: [
                {
                    text: "Slovenčina",
                    selected: true,
                    link: "#"
                },
                {
                    text: "Deutsch",
                    selected: false,
                    link: "#"
                },
                {
                    text: "English",
                    selected: false,
                    link: "#"
                },
                {
                    text: "Español",
                    selected: false,
                    link: "#"
                }
            ]
        }
    }) }}
{% endblock %}
