@import "../../../govuk/settings/all";
@import "../../../govuk/tools/all";
@import "../../../govuk/helpers/all";
@import "../../../govuk/helpers/typography";

@include govuk-exports("idsk/component/customer-suerveys") {
    .idsk-customer-survey--line {
        border: 1px solid govuk-colour ("black");
    }

    .idsk-customer-surveys--hidden {
        display: none;
    }

    .idsk-customer-surveys--show {
        display: block;
    }

    .idsk-customer-survey__caption {
        margin-top: -10px;
    }

    #idsk-customer-surveys__send-button {
        margin-right: govuk-spacing(4);
    }
}
