@import "../../base";

@include govuk-exports("idsk/component/customer-suerveys") {
    .idsk-customer-surveys {
        margin-top: govuk-spacing(5);
    }

    .idsk-customer-surveys {
        &--line {
            border-top: 1px solid govuk-colour("black");
            background-color: govuk-colour("black");
        }
        &--hidden {
            display: none;
        }
        &--show {
            display: block;
        }
    }

    .idsk-customer-survey__caption {
        margin-top: -10px;
    }

    #idsk-customer-surveys__previous-button.govuk-button--secondary {
        @include govuk-font($size: 24);
        margin-right: govuk-spacing(4);
        line-height: 1;
        width: auto;
    }

    #idsk-customer-surveys__send-button.idsk-button--start {
        @include govuk-font($size: 24);
        font-weight: normal;
        width: auto;
    }

    #idsk-customer-surveys__send-button,
    #idsk-customer-surveys__previous-button {
        max-height: 37px;

        @include mq($from: tablet) {
            max-height: none;
        }
    }

    .idsk-customer-surveys__buttons {
        padding-top: govuk-spacing(2);
    }

    .idsk-customer-surveys__buttons .govuk-button {
        width: auto;
    }

    .idsk-customer-surveys__step .govuk-body {
        @include govuk-font($size: 19);
    }

    .idsk-customer-survey--line {
        border-top: 1px solid govuk-colour("black");
    }

    .idsk-customer-surveys__logo {
        margin-bottom: govuk-spacing(6);
    }

    .idsk-customer-surveys__text--bold {
        font-weight: bold;
    }

    .idsk-customer-surveys__icon--hidden {
        display: none;
    }
}
