<div data-module="idsk-customer-surveys">
    <div class="govuk-width-container">
        <div id="idsk-customer-surveys__content">
            {#1st#}
            <div id="idsk-customer-surveys__step--0" class="idsk-customer-surveys__step idsk-customer-surveys--show">
                <p class="govuk-body-l">
                    Cieľom tohto dotazníka je zistiť potreby a postrehy používateľov webu Ministerstva investícií, regionálneho rozvoja a informatizácie (Ďalej len "MIRRI).
                </p>
                <p class="govuk-body-l">
                    Ďakujeme za súhlas s účasťou v tomto prieskume, pomáhate nám zlepšovať tento web. Vyplnenie tohto dotazníka Vám zaberie len 3 minúty.
                </p>
                <p class="govuk-body-l">
                    Odpovede na všetky otázky sú dobrovoľné. Vaše odpovede na tento prieskum sú anonymné.
                </p>

            </div>

            {#2nd#}
            <div id="idsk-customer-surveys__step--1" class="idsk-customer-surveys--hidden idsk-customer-surveys__step">
                <div>
                    <hr class="idsk-customer-survey--line">
                    <h3 class="govuk-heading-m idsk-feedback__subtitle">
                        {{ params.questions[0].name }}
                    </h3>

                    {% from "../../components/customer-surveys-radios/macro.njk" import idskCustomerSurveysRadios %}
                    {{ idskCustomerSurveysRadios({
              showMainTitle : true,
              counter : 0,
              characterLength : 200,
              feedbackOptions: [
              {
                name:"z pracovných dôvodov",
                value: 1
              },
              {
                name:"zo súkromných dôvodov",
                value: 2
              }
                ]}) }}
                </div>
                <div>
                    <hr class="idsk-customer-survey--line">
                    <h3 class="govuk-heading-m idsk-customer-survey__subtitle--text-area">
                        {{ params.questions[1].name }}
                    </h3>

                    {% from "../../components/customer-surveys-text-area/macro.njk" import idskCustomerSurveysTextArea %}
                    {{idskCustomerSurveysTextArea
                ({
                characterLength: 200
                })
                }}
                </div>
            </div>

            {#3rd#}
            <div id="idsk-customer-surveys__step--2" class="idsk-customer-surveys--hidden idsk-customer-surveys__step">
                <hr class="idsk-customer-survey--line">
                <h3 class="govuk-heading-m idsk-customer-survey__subtitle--text-area">
                    {{ params.questions[2].name }}
                </h3>
                <p class="govuk-caption-m idsk-customer-survey__caption">Prosím neuvádzajte osobné ani finančné informácie, ako napr. svoje rodné číslo alebo údaje o kreditnej karte.
                </p>

                {% from "../../components/customer-surveys-text-area/macro.njk" import idskCustomerSurveysTextArea %}
                {{idskCustomerSurveysTextArea
                ({
                characterLength: 200
                })
                }}
                <hr class="idsk-customer-survey--line">
                <h3 class="govuk-heading-m ">
                    {{ params.questions[3].name }}
                </h3>
                {% from "../../components/customer-surveys-radios/macro.njk" import idskCustomerSurveysRadios %}
                {{ idskCustomerSurveysRadios({
              counter : 0,
              characterLength : 200,
              feedbackOptions: [
              {
                name:"Áno",
                value: 1
              },
              {
                name:"Nie",
                value: 2
              },
              {
                name:"Neviem / Zatiaľ nie",
                value: 3
              }
            ]}) }}
            </div>

            {#4th#}
            <div id="idsk-customer-surveys__step--3" class="idsk-customer-surveys--hidden idsk-customer-surveys__step">
                <hr class="idsk-customer-survey--line">
                <h3 class="govuk-heading-m ">
                    {{ params.questions[4].name }}
                </h3>
                {% from "../../components/customer-surveys-radios/macro.njk" import idskCustomerSurveysRadios %}
                {{ idskCustomerSurveysRadios({
              counter : 0,
              characterLength : 200,
              feedbackOptions: [
              {
                name:"Veľmi nespokojný",
                value: 1
              },
              {
                name:"Nespokojný",
                value: 2
              },
              {
                name:"Ani spokojný ani nepsokojný",
                value: 3
              },
              {
                name:"Spokojný",
                value: 4
              },
              {
                name:"Veľmi spokojný",
                value: 5
              }
            ]}) }}
            </div>

            {#5th#}
            <div id="idsk-customer-surveys__step--4" class="idsk-customer-surveys--hidden idsk-customer-surveys__step">
                <hr class="idsk-customer-survey--line">
                <h3 class="govuk-heading-m ">
                    {{ params.questions[5].name }}
                </h3>
                {% from "../../components/customer-surveys-radios/macro.njk" import idskCustomerSurveysRadios %}
                {{ idskCustomerSurveysRadios({
              counter : 0,
              characterLength : 200,
              feedbackOptions: [
              {
                name:"Áno",
                value: 1
              },
              {
                name:"Nie",
                value: 2
              }
                ]}) }}
                <hr class="idsk-customer-survey--line">
                <h3 class="govuk-heading-m idsk-customer-survey__subtitle--text-area">
                    {{ params.questions[6].name }}
                </h3>

                {% from "../../components/customer-surveys-text-area/macro.njk" import idskCustomerSurveysTextArea %}
                {{idskCustomerSurveysTextArea
                ({
                characterLength: 200
                })
            }}

            </div>

            {#6th#}
            <div id="idsk-customer-surveys__step--5" class="idsk-customer-surveys--hidden idsk-customer-surveys__step">
                <hr class="idsk-customer-survey--line">
                <h3 class="govuk-heading-m idsk-customer-survey__subtitle--text-area">
                    {{ params.questions[7].name }}
                </h3>
                <p class="govuk-caption-m idsk-customer-survey__caption">Prosím neuvádzajte osobné ani finančné informácie, ako napr. svoje rodné číslo alebo údaje o kreditnej karte.
                </p>

                {% from "../../components/customer-surveys-text-area/macro.njk" import idskCustomerSurveysTextArea %}
                {{idskCustomerSurveysTextArea
                ({
                characterLength: 200
                })
            }}
            </div>

            {#7th#}
            <div id="idsk-feedback__thanks" class="idsk-customer-surveys--hidden idsk-customer-surveys__step">
                <h2 class="govuk-heading-l">
                    {{ params.feedbackThankNote if params.feedbackThankNote else 'Ďakujeme za spätnú väzbu.' }}
                </h2>
            </div>

            <div class="idsk-feedback__buttons">
                <button id="idsk-customer-surveys__send-button" class="govuk-button">
                    Začať
                </button>
                <button class="govuk-button govuk-button--secondary" onclick="location.href='/';">
                    Odísť
                </button>
            </div>
        </div>
    </div>
    <div id="idsk-feedback__thanks" class="idsk-feedback--hidden">
        <h2 class="govuk-heading-l">
            {{ params.feedbackThankNote if params.feedbackThankNote else 'Ďakujeme za spätnú väzbu.' }}
        </h2>
    </div>
</div>