{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "E-mailové adresy" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Vzory</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Tento návod opisuje, ako požiadať používateľov o ich e-mailovú adresu.</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-s">Obsah:</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#priklad">Príklad</a></li>
                <li><a class="govuk-link" href="#pole">Pole na e-mailovú adresu musí byť dostatočne dlhé</a></li>
                <li><a class="govuk-link" href="#email">Upovedomte používateľov prečo od nich požadujete e-mailovú adresu</a></li>
                <li><a class="govuk-link" href="#pomoc">Pomôžte používateľom zadávať platnú e-mailovú adresu</a></li>
                <li><a class="govuk-link" href="#overenie">Overte, či má používateľ prístup k svojmu e-mailovému účtu</a></li>
            </ul>

            <h3 class="govuk-heading-m" id="priklad">Príklad</h3>
            <img src="/public/assets/images/patterns/email.png" alt="email">
            <p class="govuk-body">Keď si od používateľov žiadate e-mailové adresy, je dôležité aby:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ste navrhli pole na e-mailovú adresu dostatočne veľké,</li>
                <li>bolo používateľom dostatočne jasné, prečo od nich adresu požadujete,</li>
                <li>pomôžte používateľom zadávať platnú e-mailovú adresu.</li>
            </ul>
            <p class="govuk-body">Odporúčame skontrolovať, či majú používatelia prístup k e-mailovému účtu, ktorý vám dávajú.</p>


            <h3 class="govuk-heading-m" id="pole">Pole na e-mailovú adresu musí byť dostatočne dlhé</h3>

            <p class="govuk-body">Uistite sa, že pole e-mailovej adresy je natoľko dlhé, aby vyhovovalo aspoň 95% e-mailových adries používateľov.</p>

            <p class="govuk-body">Odporúča sa používať pole zobrazujúce naraz minimálne 30 znakov, pričom dátové pole musí umožniť spracovanie 255 znakov.</p>

            <h3 class="govuk-heading-m" id="email">Upovedomte používateľov prečo od nich požadujete e-mailovú adresu</h3>
            <p class="govuk-body">Je dôležité používateľa oboznámiť s tým ako bude e-mailová adresa použitá, aby:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>používatelia mali istotu, že ich adresy nebudú zneužité,</li>
                <li>si používatelia s viacerými e-mailovými adresami mohli vybrať, ktorú adresu poskytnú.</li>
            </ul>
            <h3 class="govuk-heading-m" id="pomoc">Pomôžte používateľom zadávať platnú e-mailovú adresu</h3>
            <p class="govuk-body">Pomôžte používateľom zadať platnú e-mailovú adresu tým, že:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>overíte, či nimi zadaný údaj je vo formáte e-mailovej adresy,</li>
                <li>umožníte používateľom skopírovať e-mailovú adresu a vložiť ju do poľa,</li>
                <li>použite atribút type=“email”, aby zariadenia zobrazovali správnu klávesnicu,</li>
                <li>zobrazíte používateľom spätne danú e-mailovú adresu, aby ju vedeli skontrolovať, prípadne opraviť.</li>

            </ul>

            <p class="govuk-body">Odporúčame tiež skontrolovať bežné chyby v písaní obľúbených poskytovateľov elektronickej pošty (napríklad 'gmail.sk' namiesto 'gmail.com' alebo 'homtail.com' namiesto 'hotmail.com'). Ak zistíte, že používateľ spravil chybu, upovedomte ho o tom. Avšak umožnite mu pokračovať ďalej v prípade, že ide o skutočnú e-mailovú adresu.
            </p>
            <p class="govuk-body">Niektoré služby vyžadujú, aby používatelia opakovane zadali svoju e-mailovú adresu. Tento postup zbytočne pridáva na práci používateľovi, a preto ho odporúčame nepoužívať.

            </p>

            <h3 class="govuk-heading-m" id="overenie">Overte, či má používateľ prístup k svojmu e-mailovému účtu</h3>
            <p class="govuk-body">V niektorých prípadoch je potrebné použiť <a class="govuk-link" href="/vzory/proces-overenia-emailovej-adresy" title="proces overenia">proces overenia</a> e-mailového účtu, aby ste sa uistili, že používateľ má prístup k e-mailovej adrese, ktorú zadal.
            </p>

            <p class="govuk-body">Keďže je tento proces pre používateľa rušivým elementom, dôkladne zvážte nutnosť jeho použitia.
            </p>

        </div>
    </div>

  </div>
{% endblock %}