@import "../../base";

@include govuk-exports("idsk/component/related-content") {
  .idsk-related-content {
    &__line {
      background-color: govuk-colour("dark-blue");
      height: 2px;
      border: 0;
      margin-bottom: 10px;
    }

    &__heading {
      margin-bottom: 10px;
    }

    &__list > .idsk-related-content__list-item {
      margin-bottom: 10px;
    }

    &__link {
      @include govuk-link-common;
      @include govuk-link-style-default;

      color: govuk-colour("blue");
    }
  }
}
