.govuk-error-summary {
  border-width: 1px;
  border-radius: .375rem;
  border-color: idsk-colour("idsk-warning");
  color: idsk-colour("idsk-warning-dark");
  background-color: idsk-colour("idsk-warning-light");
}
