@import "../../base";
@import "../../../govuk/objects/grid";

@include govuk-exports("idsk/component/subscription-form") {
  .idsk-subscription-form {
    .govuk-heading-xl {
      margin-bottom: govuk-spacing(3);
      @include govuk-media-query($until: tablet) {
        margin-bottom: govuk-spacing(2);
      }
    }

    &__description-text {
      @include govuk-typography-responsive($size: 27);
      margin-bottom: govuk-spacing(6);
    }

    .idsk-button {
      width: 100%;
      margin-bottom: 0;
      line-height: 32px;
      padding: 4px 4px 3px;
    }

    .govuk-form-group {
      flex-basis: 100%;
    }

    &__input {
      display: flex;

      .idsk-button {
        width: 218px;
        box-shadow: none;
      }

      .govuk-input {
        height: 45px;

        &:focus {
          position: relative;
        }
      }
    }

    &__agreement-text {
      margin-bottom: 0;
    }

    &:not(&__subscription-confirmed) &__confirm-text {
      display: none;
    }

    label {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.25;
      position: absolute;
      padding-left: 10px;
      padding-top: 10px;
      cursor: text;
      color: #626a6e;
    }

    @include govuk-media-query($until: tablet) {
      &__description-text, &__input {
        margin-bottom: govuk-spacing(4);
      }

      &__input {
        flex-direction: column;

        .idsk-button {
          margin-top: govuk-spacing(4);
          width: initial;
        }
      }
    }

    &__subscription-confirmed {
      form, .idsk-subscription-form__agreement-text, .idsk-subscription-form__default-text {
        display: none;
      }

      .idsk-subscription-form__description-text {
        margin-bottom: 0;
      }
    }
  }
}
