@import "../../../govuk/settings/all";
@import "../../../govuk/tools/all";
@import "../../../govuk/helpers/all";
@import "../../../govuk/helpers/typography";
@import "../../../govuk/objects/grid";

@include govuk-exports("idsk/component/subscription-form") {
  .idsk-subscription-form {
    .govuk-heading-xl {
      margin-bottom: govuk-spacing(3);
      @include govuk-media-query($until: tablet) {
        margin-bottom: govuk-spacing(2);
      }
    }

    .description-text {
      @include govuk-typography-responsive($size: 27);
      margin-bottom: govuk-spacing(6);
    }

    .govuk-input {
      height: 45px;
    }

    .govuk-button {
      width: 100%;
      margin-bottom: 0;
      line-height: 32px;
      padding: 4px 4px 3px;
    }

    .agreement-text {
      margin-bottom: 0;
    }

    &:not(.subscription-confirmed) .confirm-text {
      display: none;
    }

    @include govuk-media-query($until: tablet) {
      .description-text, .govuk-input {
        margin-bottom: govuk-spacing(4);
      }
    }

    &.subscription-confirmed {
      form, .agreement-text, .default-text {
        display: none;
      }

      .description-text {
        margin-bottom: 0;
      }
    }
  }
}
