{% set title = params.title if params.title else 'Zostaňte informovaní' %}
{% set description = params.description if params.description else 'Lorem Ipsum is simply dummy text of the printing and typesetting industry' %}
{% set inputText = params.inputText if params.inputText else 'Vložte emailovú adresu' %}
{% set buttonText = params.buttonText if params.buttonText else 'Odoslať email' %}
{% set agreementText = params.agreementText if params.agreementText else 'Prihlásením dávam dobrovoľný súhlas SlovenskoIT a. s. na zasielanie bezplatného newslettera na mnou zadaný e-mail.
Tento súhlas môžem kedykoľvek odvolať na <a href="mailto:info@slovenskoit.sk" class="govuk-link">info@slovenskoit.sk</a>. Oboznámil(a) som sa s informáciami v sekcii <a href="/ochrana-osobnych-udajov" class="govuk-link">Ochrana osobných údajov</a>.' %}
{% set sentTitle = params.sentTitle if params.sentTitle else 'Ďakujeme!' %}
{% set sentDescription = params.sentDescription if params.sentDescription else 'Budeme Vám zasielať vždy aktuálne informácie' %}

<div data-module="idsk-subscription-form" id="{{ params.id }}" class="idsk-subscription-form {{ params.classes if params.classes }}">
  <div class="govuk-heading-xl title-text" data-sent-state="{{ sentTitle }}">{{ title }}</div>
  <p class="govuk-body description-text" data-sent-state="{{ sentDescription }}">{{ description }}</p>

  <form action="#" class="govuk-form-group govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <input type="email" class="govuk-input" placeholder="{{ inputText }}">
    </div>
    <div class="govuk-grid-column-one-quarter">
      <input type="submit" class="govuk-button" value="{{ buttonText }}">
    </div>
  </form>

  <p class="govuk-body agreement-text">{{ agreementText | safe }}</p>
</div>
