<div data-module="idsk-banner">
    <div class="idsk-banner" role="contentinfo">
        <div class="govuk-container-width">
            <div class="idsk-banner__content {{ params.classes if params.classes }}">
                <h2 class="govuk-heading-s">{{params.pageName}}</h2>
                <h3 class="govuk-heading-m">
                    <a class="govuk-link" href="#" title="{{params.headline}}">{{params.headline}}</a>
                </h3>
            </div>
        </div>
    </div>
</div>