@import "../../../govuk/settings/all";
@import "../../../govuk/tools/all";
@import "../../../govuk/helpers/all";

@include govuk-exports("idsk/component/interactive-map") {
    .idsk-interactive-map {
        @include govuk-font($size: 16);
        @include govuk-text-colour;

        &__header {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            &-radios {
                padding: 0;

                .govuk-radios__item {
                    margin-bottom: 0;
                }
            }

            .govuk-form-group {
                margin-bottom: 0;
            }

            &-select .govuk-form-group {
                display: inline-block;
                margin-right: govuk-spacing(4);
            }
        }

        &__body {
            display: block;
            height: 465px;
            overflow: auto;
        }

        &__table table tr {
            border-bottom: 1px solid govuk-colour("black");
            text-align: right;

            & th,
            & td {
                font-size: 16px;
                padding: 10px 10px;
            }
            &:hover {
                background-color: #000000;
            }
            &:hover th,
            &:hover td {
                color: white;
            }
        }

        &__map,
        &__map-iframe {
            border: none;
            height: 100%;
            width: 100%;
        }
    }
}
