{% from '../../../govuk/components/radios/macro.njk' import govukRadios %}

<div data-module="idsk-interactive-map" class="idsk-interactive-map{{ ' ' + params.classes if params.classes }}">
    <div class="idsk-interactive-map__header">
        <div class="idsk-interactive-map__header-radios govuk-grid-column-one-third">
            <div class="govuk-form-group">
                <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item idsk-intereactive-map__radio-map">
                        <input class="govuk-radios__input" name="radio-interactive-map" type="radio" value="map">
                        <label class="govuk-label govuk-radios__label">Mapa</label>
                    </div>
                    <div class="govuk-radios__item idsk-intereactive-map__radio-table">
                        <input class="govuk-radios__input" data-source="{{ params.tableDataSource }}" name="radio-interactive-map" type="radio" value="table" checked="">
                        <label class="govuk-label govuk-radios__label" >Tabuľka</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="idsk-interactive-map__header-select govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <div class="govuk-label-wrapper">
                    <label class="govuk-label" for="select-3"><strong>Obdobie</strong></label>
                </div>
                <select class="govuk-select" id="select-3" name="select-3">
                    <option value="1" selected>Posledný mesiac</option>
                </select>
            </div>
            <div class="govuk-form-group">
                <div class="govuk-label-wrapper">
                    <label class="govuk-label" for="select-3"><strong>Ukazovateľ</strong></label>
                </div>
                <select class="govuk-select" id="select-3" name="select-3">
                    <option value="1" selected>Počet zaočkovaných (1. aj 2. )</option>
                </select>
            </div>
        </div>
    </div>
    <div class="idsk-interactive-map__body">
        <div class="idsk-interactive-map__map">
        mapa
        </div>
        <div class="idsk-interactive-map__table">
table
        </div>
    </div>
</div>