
<div data-module="idsk-interactive-map" class="idsk-interactive-map{{ ' ' + params.classes if params.classes }}">
    <div class="idsk-interactive-map__header"></div>
    <div class="idsk-interactive-map__content"></div>
</div>