@import "../../../govuk/settings/all";
@import "../../../govuk/tools/all";
@import "../../../govuk/helpers/all";
@import "../../../govuk/helpers/typography";
@import "../../../govuk/objects/grid";

@include govuk-exports("idsk/component/feedback") {
    #idsk-feedback-content {
        @include govuk-font($size: 19);
    }

    .idsk-feedback-options-ul {
        padding-inline-start: govuk-spacing(1);
        margin-bottom: 0px;
    }

    .idsk-feedback-options-li {
        display: block;
        @include govuk-font($size: 24);

        @include mq(desktop) {
            @include govuk-font($size: 19);
        }
    }

    .idsk-feedback-buttons .govuk-button {
        width: auto;
    }

    #idsk-feedback-thanks-for-feedback {
        padding-left: 13px;
    }

    #idsk-feedback-improove-question-bar .govuk-heading-m {
        margin-bottom: -10px;
    }

    .idsk-feedback-subtitle {
        margin-bottom: govuk-spacing(6);
    }

    .idsk-feedback-send-button {
        margin-right: govuk-spacing(4);
    }

    .idsk-feedback-display-none {
        display: none;
    }

    .idsk-feedback-display-hidden {
        visibility: hidden;
    }

    .idsk-feedback-hidden {
        max-height: 0;
        transition: max-height 0.7s ease-out;
    }

    #idsk-feedback-improove-question-bar .govuk-textarea:focus {
        width: 98%;
        margin-left: 3px;
    }

    .idsk-feedback-open {
        max-height: 619px;
        height: auto;
        transition: max-height 0.7s ease-in;
        overflow: hidden;
    }
}
