{% from "details/macro.njk" import govukDetails %}
<div data-module="idsk-feedback">
    <div class="govuk-width-container">
        <div id="idsk-feedback-content">
            <h2 class="govuk-heading-l">
                {{ params.mainTitle if params.mainTitle else 'Spätná väzba na službu Podávanie žiadosti o nenávratný príspevok na opravu bicykla'  }}
            </h2>
            <h3 class="govuk-heading-m idsk-feedback-subtitle">
                {{ params.feedbackQuestion if params.feedbackQuestion else 'Ako ste spokojný so službou, ktorú ste práve využili?'  }}
            </h3>
            <ul class="idsk-feedback-options-ul">
                {% for item in params.feedbackOptions -%}
                    <li class="idsk-feedback-options-li ">
                        <input type="radio" class="idsk-feedback-radio-button {{ 'idsk-feedback-textarea--show' if item.textArea }}" value=" {{ item.name }} " name="group1">
                        <label for="{{ item.name }}">
                            {{ item.name }}
                        </label><br>
                    </li>
                {%- endfor %}
            </ul>
            <div id="idsk-feedback-improove-question-bar" class="idsk-feedback-hidden idsk-feedback-display-hidden">
                <h3 class="govuk-heading-m">
                    {{ params.feedbackQuestionForTextArea if params.feedbackQuestionForTextArea else ' Ako by sme mohli túto službu zlepšiť?' }}
                </h3>
                <div>
                    <br>
                    {% from "../../components/character-count/macro.njk" import idskCharacterCount %}
                    {{ idskCharacterCount({
                        name: "with-hint",
                        id: "with-hint",
                        maxlength: params.characterLength,
                        label: {
                            text: ""
                        },
                        hint: {
                            text: ""
                        }
                    }) 
                }}
                </div>
            </div>

            <div class="idsk-feedback-buttons">
                <button id="idsk-feedback-send-button" class="govuk-button idsk-feedback-send-button">
                    Odoslať
                    <svg width="15" height="15" viewbox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.4016 10L0 0H5.59826L15 10H9.4016Z" fill="white"/>
                        <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M5.5984 20L15 10H9.40174L0 20H5.5984Z" fill="white"/>
                    </svg>
                </button>
                <button class="govuk-button govuk-button--secondary">
                    Odísť
                </button>
            </div>
        </div>
        <div id="idsk-feedback-thanks-for-feedback" class="idsk-feedback-display-none">
            <h2 class="govuk-heading-l">
                {{ params.feedbackThankNote if params.feedbackThankNote else 'Ďakujeme za spätnú väzbu.' }}
            </h2>
        </div>
    </div>
</div>