@import "../../../govuk/settings/all";
@import "../../../govuk/tools/all";
@import "../../../govuk/helpers/all";

@include govuk-exports("idsk/component/in-page-navigation") {

  .idsk-in-page-navigation {
    @include govuk-font($size: 24);

    @include mq ($until: tablet) {
      margin-left: -15px;
      padding: 0;
      width: calc(100% + 30px);
    }

    @include mq ($until: desktop) {
      margin-left: -45px;
      padding: 0;
      width: calc(100% + 90px);
    }

    &--sticky{
      position: fixed;
      top: 60px;
      width: 100%;

      @include mq ($from: desktop) {
        top: 0;
      }
    }
  }

  .idsk-in-page-navigation__title {
    margin-bottom: 20px;
    font-weight: bold;
  }
  .idsk-in-page-navigation__link-panel,
  .idsk-in-page-navigation__link-number {
    display: none;
  }

  .idsk-in-page-navigation__list {
    @include govuk-clearfix;

    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      color: govuk-colour("blue");
      margin-bottom: 20px;
      padding-left: 15px;

      &--active {
        font-weight: bold;
        position: relative;

        &::before {
          @include govuk-shape-arrow($direction: right, $base: 10px, $display: inline-block);

          content: "";
          position: absolute;
          top: 10px;
          left: 0;
        }
      }
    }
  }

  .idsk-in-page-navigation__link {
    @include govuk-link-common;
    @include govuk-link-style-default;

    text-decoration: none;
  }

  @include mq($until: desktop) {

    .idsk-in-page-navigation--expand {
      .idsk-in-page-navigation__list {
        margin-bottom: 15px;
        max-height: 200px;
        overflow-y: auto;
        padding-top: 15px;
        transition: all 0.2s ease-in;

        &:before {
          box-shadow: inset 0 -60px 20px -15px #fff, inset 0 60px 20px -15px #fff;
          position: absolute;
          width: 100%;
          height: calc(100% - 40px);
          display: block;
          content: "";
          margin-top: -15px;
        }
      }
      .idsk-in-page-navigation__link-panel::before {
        top: 15px;
        transform: rotate(-45deg);
        transition: all 0.2s ease-in;
      }
    }

    .idsk-in-page-navigation__title {
      display: none;
    }

    .idsk-in-page-navigation__link-panel {
      background: govuk-colour("dark-blue");
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 100%;
      
      &-button {
        @include govuk-font($size: 24);

        background: govuk-colour("dark-blue");
        border: none;
        color: govuk-colour("white");
        font-weight: bold;
        padding: 10px 50px 10px 15px;
        text-align: left;
        width: 100%;
        background: govuk-colour("dark-blue");
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:focus {
          @include govuk-focused-text;
        }
      }

      &::before {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        color: govuk-colour("white");
        content: "";
        display: inline-block;
        height: 0.45em;
        right: 15px;
        position: absolute;
        top: 10px;
        transform: rotate(135deg);
        transition: all 0.2s ease-out;
        vertical-align: top;
        width: 0.45em;
      }
    }

    .idsk-in-page-navigation__link {
      text-decoration: underline;

      &-number {
        display: inline-block;
        text-decoration: underline;
      }
      &-number:focus {
        text-decoration: none;
      }
    }

    .idsk-in-page-navigation__list {
      background-color: white;
      border-bottom: 4px solid govuk-colour("dark-blue");
      padding-top: 0;
      max-height: 0;
      transition: all 0.2s ease-out;
      overflow-y: hidden;
    }

    .idsk-in-page-navigation__list-item--active::before {
      top: 5px;
    }

  }
}
