<div data-module="idsk-option-select-filter" class="idsk-option-select-filter {{ params.classes if params.classes }}">
    <div>
        {% from "checkboxes/macro.njk" import govukCheckboxes %}
            {{ govukCheckboxes({
            "name": "colours",
            "classes": "govuk-checkboxes--small",
            "items": params.checkBoxItems
        }) }}
    </div>
</div>