@import "../../../govuk/base";
@import "../../../govuk/helpers/typography";

@include govuk-exports("idsk/component/header-web") {

    $idsk-header-background-primary: govuk-colour("white") !default;
    $idsk-header-background-secondary: govuk-colour("dark-blue") !default;
    $idsk-header-text-primary: govuk-colour("dark-blue") !default;
    $idsk-header-text-secondary: govuk-colour("white") !default;

    $idsk-header-link: govuk-colour("white") !default;
    $idsk-header-dark-blue: govuk-colour("dark-blue") !default;

    $idsk-header-logo-height: 40px;

    .idsk-header-web{

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-image: linear-gradient(to right, #ffffff 0%, #ffffff 33.3%, #003183 33.3%, #003183 66.6%, #d0190f 66.6%, #d0190f 100%);
          /* equivalent to (to right, white, white 50%, black 50%, black) */
            background-size: 150px 100%;
            background-repeat: repeat;
          }

        &__brand {

          padding: 10px 0;
          background-color: $idsk-header-background-secondary;
          color: $idsk-header-text-secondary;

          .govuk-body-s,
          .govuk-link{
            margin-bottom: 0;
            color: $idsk-header-text-secondary;
          }
        }
    }

      /// language selector
  .idsk-header-web__brand-language {
    @include govuk-font($size: 19);

    padding: 0 govuk-spacing(3) govuk-spacing(1) 0;

    &--active .idsk-header-extended__language-button::after {
      transition: transform 0.2s;
      transform: rotate(180deg);
    }

    &-button {
      @include govuk-font($size: 16);

      float: right;
      background: none;
      border: none;
      padding-right: govuk-spacing(6);
      color: $idsk-header-text-secondary;

      &:focus {
        @include govuk-focused-text;

        outline: none;
      }

      &:after {
        position: absolute;
        margin-top: 8px;
        margin-left: govuk-spacing(2);
        border-style: solid;
        border-width: 5px 5px 0;
        border-color: $idsk-header-text-secondary transparent transparent;
        content: "";
        transition: transform 0.2s;
      }
    }

    &-list {
      display: none;

      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
      margin-top: 11px;
      background-color: govuk-colour("white");

      &--active {
        display: block;
        position: absolute;
        width: 150px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
      }

      &-item {
        padding: govuk-spacing(2);
      }

      &-link {
        color: $idsk-header-text-secondary;
        display: block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:focus,
        &:active {
          @include govuk-focused-text;
        }
      }
    }
  }
}