@import "../../base";

@include govuk-exports("idsk/component/address") {
    .idsk-address {
        @include govuk-font($size: 16);
        @include govuk-text-colour;
        @include govuk-grid-column("one-third");

        padding: 0;

        &__map {
            border: 1px solid #000000;
            height: 148px;
            margin-bottom: govuk-spacing(6);
            margin-top: govuk-spacing(5);
            width: 100%;
        }

        &__separator {
            &-top {
                background-color: govuk-colour("dark-blue");
                border: none;
                height: 2px;
            }
            &-bottom {
                display: none;
            }
        }

        &__link-text {
            margin-left: govuk-spacing(3);

            &:before {
                @include govuk-shape-arrow($direction: right, $base: 13px);

                content: "";
                display: inline-block;
                margin-left: -15px;
                margin-top: 4px;
                position: absolute;

                @include mq($from: tablet) {
                    margin-top: 6px;
                }
            }
        }

        .govuk-body {
            margin-bottom: govuk-spacing(1);

            & > .govuk-link {
                display: inline-block;
                margin-top: govuk-spacing(3);
            }
        }

        .govuk-heading-m {
            margin-bottom: govuk-spacing(2);
        }
    }

    .idsk-address--full-width {
        @include govuk-grid-column("full");

        padding: 0;

        .idsk-address {
            &__content {
                width: 100%;
                display: inline-block;
            }

            &__description {
                @include govuk-grid-column("full");
                padding: 0;

                @include mq($from: desktop) {
                    @include govuk-grid-column("one-half");
                    padding: 0;
                }
            }
            &__map {
                @include govuk-grid-column("full");

                height: 202px;
                margin-top: 0;
                padding: 0;

                @include mq($from: desktop) {
                    @include govuk-grid-column("one-half");
                    padding: 0;
                }
            }

            &__separator {
                &-bottom {
                    background-color: govuk-colour("lighter-grey");
                    border: none;
                    display: block;
                    height: 2px;
                    margin-top: 0;
                }

                &-top {
                    display: none;
                }
            }
        }
    }
}
