{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Pätička pre webové sídla" %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">

        <span class="govuk-caption-xl">Webové komponenty</span>
        <h1 class="govuk-heading-xl">{{pageName}}</h1>
        <p class="govuk-body-l">Odporúčame pridať na stránku svojej služby pätičku podľa tohto manuálu. Je dôležité, aby všetky online služby Slovenskej republiky vyzerali pre používateľa rovnako.</p>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-s">Obsah:</h2>
                <ul class="govuk-list">
                    <li>
                        <a href="#kratky-popis">Krátky popis</a>
                    </li>
                    <li>
                        <a href="#ukazka-zakladna-paticka">Základná pätička</a>
                    </li>
                    <li>
                        <a href="#ukazka-zakladna-paticka-feedback">Základná pätička + feedback</a>
                    </li>
                    <li>
                        <a href="#ukazka-rozsirena-paticka-1">Rozšírená pätička 1</a>
                    </li>
                    <li>
                        <a href="#ukazka-rozsirena-paticka-2">Rozšírená pätička 2</a>
                    </li>
                </ul>

                <h3 class="govuk-heading-m" id="kratky-popis">Krátky popis</h3>
                <p class="govuk-body">
                    Všetky služby musia používať základnú štandardnú pätičku stránky, ktorá obsahuje najmä textové informácie o prevádzkovateľovi služby a textové odkazy na:
                </p>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="ukazka-zakladna-paticka">Základná pätička</h3>
                <p class="govuk-body">V nasledujúcej ukážke sú použité vstupné parametre.</p>
                <div class="example">
                    {% set exampleComponentHtml %}
                    {% include "../komponenty/examples/exampleFooterForWeb.njk" %}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="ukazka-zakladna-paticka-feedback">Základná pätička + feedback</h3>
                <div class="example">
                    {% set exampleComponentHtml %}
                    {% include "../komponenty/examples/exampleFooterForWeb1.njk" %}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <div>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>kontaktnú stránku vašej organizácie</li>
                        <li>pomocné informácie – len ak je táto stránka naozaj nutná kvôli komplexnosti a náročnosti samotnej služby</li>
                        <li>iné jazykové možnosti – názov odkazu píšte v danom jazyku</li>
                        <li>informácie o ochrane osobných údajov</li>
                        <li>vyhlásenie o prístupnosti</li>
                    </ul>
                </div>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="ukazka-rozsirena-paticka-1">Rozšírená pätička 1</h3>
                <p class="govuk-body">V nasledujúcej ukážke sú použité vstupné parametre.</p>
                <div class="example">
                    {% set exampleComponentHtml %}
                    {% include "../komponenty/examples/exampleFooterForWeb2.njk" %}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="ukazka-rozsirena-paticka-2">Rozšírená pätička 2</h3>
                <p class="govuk-body">V nasledujúcej ukážke sú použité vstupné parametre.</p>
                <div class="example">
                    {% set exampleComponentHtml %}
                    {% include "../komponenty/examples/exampleFooterForWeb3.njk" %}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
            </div>
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l" id="priklady">Rozšírené príklady pre hlavičku a pätičku</h2>
            <ul class="govuk-list">
                <li>
                    <a href="/custom-components/footer-extended">Rozšírené príklady pätičky</a>
                </li>
            </ul>
        </div>

        
        </div>
        
    </div>
</div>
{% endblock %}