{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% set pageName = "Hlavička" %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Webové komponenty</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Hlavička je základný komponent webovej stránky alebo služby. Je podstatný pre to, aby elektronické služby verejnej správy vyzerali pre používateľa rovnako a využívali jednotné interakčné princípy. Jednou z najdôležitejších úloh hlavičky je navigovanie používateľa k obsahu, ktorý hľadá. Položky v menu a podmenu vytvárajte za pomoci používateľských prieskumov. Znížite tým riziko, že do hlavičky zakomponujete niečo, čo používateľov nezaujíma.</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-s">Obsah:</h2>
            <ul class="govuk-list govuk-list--bullet">
            
            </ul>

            <h3 class="govuk-heading-m">Aktuálna hlavička ponúka 2 varianty:</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="" title="Hlavička pre Webové sídla">Hlavička pre Webové sídla</a></li>
                <li><a class="govuk-link" href="" title="Hlavička pre Elektronické služby">Hlavička pre Elektronické služby</a></li>
            </ul>

            <h3 class="govuk-heading-m">Správanie hlavičky</h3>
            <p class="govuk-body">Správanie hlavičky:
                Počas scrollovania obsahu ostáva hlavička pripnutá v hornej časti obsahu - roluje sa pod hlavičku prehliadača. Komponet obsahuje tieň, ktorý ho vizuálne oddeľuje od zbytku obsahu.  
            </p>

            <h3 class="govuk-heading-m">Anatómia hlavičky:</h3>
            <p class="govuk-body">Hlavička sa skladá z nasledujúcich horizontálnych sekcií.</p>
        </div>

        <div class="govuk-grid-column-full">
            <img src="/public/assets/images/header-web/anatomia-hlavicky.png" width="100%" alt="anatomia-hlavicky-img">
        </div>

        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body"><b>Trikolora</b> - Slúži ako výrazný element slovenskej identity a taktiež plní funkciu vizuálneho oddeľovača od hlavičky webového prehliadača. Je to povinný prvok pre každý variant hlavičky.  </p>
        </div>

        <div class="govuk-grid-column-full">
            <img src="/public/assets/images/header-web/trikolora.png" width="100%" alt="trikolora-img">
        </div>

        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body"><b>Informačná lišta</b> - Skladá sa z dvoch častí, na ľavej strane Pečiatka, 
                ktorá dodáva webovej stránke oficiálnu príslušnosť k slovenskému e-govermentu alebo gestorovi elektronickej služby. 
                Text v pečiatke obsahuje hypertextový odkaz, ktorým sa používateľ preklikne na stránku príslušného gestora služby. 
                Pokiaľ občan navštívy elektronickú službu preklikom z portálu Slovensko.sk pečiatka by mala obsahovať hypertextový odkaz späť na portál Slovensko.sk. 
                Označenie “Oficálna stránka slovenského e-govermentu” sa používa v pri webových sídlach, ktorých doména končí ..gov.sk. 
                Na pravej strane sa nachádza výber jazyka. Informačná lišta ma predefinovanú modru farbu. 
                Podrobnejšie pravidlá ako správne používať Informačnú lištu nájdete TU
            </p>
        </div>

        <div class="govuk-grid-column-full">
            <img src="/public/assets/images/header-web/informacna-lista.png" width="100%" alt="informacna-lista-img">
        </div>
    </div>
{% endblock %}