{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Ikony a obrázky" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Webové komponenty</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">Odporúčame nepoužívať zbytočné grafické prvky. Ikony a obrázky by sa mali používať iba vtedy, keď ich používateľ naozaj potrebuje.</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-s">Obsah:</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#icons" title="Ikony">Ikony</a></li>
                <li><a class="govuk-link" href="#important-info" title="Dôležité oznamy a text s právnym dopadom">Dôležité oznamy a text s právnym dopadom</a></li>
                <li><a class="govuk-link" href="#images" title="Obrázky">Obrázky</a></li>
                <li><a class="govuk-link" href="#examples" title="Príklady">Príklady</a></li>
            </ul>

            <h3 class="govuk-heading-m" id="icons">Ikony</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    Používajte len bežne používané ikony zo zoznamu
                    <a class="govuk-link" href="https://github.com/id-sk/idsk_frontend_toolkit/tree/master/images" rel="external" title="dostupných ikon">dostupných ikon</a>
                    Nevytvárajte vlastné ikony, ak to nie je nutné.
                </li><li>
                    Ak predsa len potrebujete použiť menej používané ikony, uistite sa, že sú pre používateľov zrozumiteľné, napríklad používateľským prieskumom. Ak použijete ikony, ktoré sú menej používané, je nutné k nim pridať viditeľný sprievodný text. Sprievodný text je odporúčaný pri všetkých ikonách.
                </li>
                
                <li>
                    Každá ikona by mala v HTML kóde stránky obsahovať popisný text <code class="code">“title”</code>.
                </li>
                <li>
                    Pre obrázky a ikony odporúčame poskytovať textový ekvivalent v atribúte <code class="code">“alt”</code>. Pokiaľ obrázok alebo ikona neobsahuje významovú hodnotu, v atribúte uveďte prázdnu hodnotu.
                </li>
                <li>
                    Nie je správne skrývať nejasnú funkčnosť za ikonami, namiesto toho použite textovú linku s krátkym vysvetlením.
                </li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="https://github.com/id-sk/idsk_frontend_toolkit/tree/master/images" rel="external" title="Dostupné ikony">Dostupné ikony</a>
            </p>
            <h3 class="govuk-heading-m" id="important-info">Dôležité oznamy a text s právnym dopadom</h3>
            <p class="govuk-body">
                V prípade dôležitého textu s možným právnym následkom (napríklad pokuta alebo trest odňatia slobody) odporúčame použiť tučné písmo s&nbsp;ikonou výkričníka.
            </p>
        </div>

        <div class="govuk-grid-column-full">
            <div class="example example-error">
            {% set exampleComponentHtml %}
                {% include "../komponenty/examples/warning.njk" %}
            {% endset %}
            {{exampleComponentHtml | safe}}
            </div>
            <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
        </div>
        
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="images">Obrázky</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Ak sú na stránke potrebné obrázky, mali by byť orientované na šírku a v pomere strán 3:2.</li>
                <li>Nepoužívajte obrázky ako náhradu textu. Výnimkou sú obrázky s grafmi alebo schémami, ktoré nie sú textom plne nahraditeľné.
                </li>
            </ul>
        </div>

        <div class="govuk-grid-column-full">
            <div class="example example-images">
{% set exampleComponentHtml %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <img src="/public/assets/images/examples/3by2.jpg" alt="3:2">
    </div>
    <div class="govuk-grid-column-one-half">
        <img src="/public/assets/images/examples/beskydy.jpg" alt="">
    </div>
</div>
{% endset %}
            {{exampleComponentHtml | safe}}
            </div>
            <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="images">Obrázkové odkazy</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Odkaz z obrázku by ste mali výstižne označiť zmenou kurzora.</li>
                <li>Obrázkový odkaz je vhodné doplniť aj popisným textom tak, aby bol jasný cieľ odkazu. Pokiaľ to nie je možné, je pre jednoznačnú identifikáciu odkazu potrebné použiť atribút <code class="code">title</code> prvku <code class="code">&lt;a&gt;</code>.</li>
            </ul>
        </div>

    </div>

  </div>
{% endblock %}