{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "In-page navigation" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">In-page navigation</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body-l">POPIS</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> 

            <h2 class="govuk-heading-s">Obsah:</h2>
            <ul class="govuk-list">
                <li><a href="#info">Popis</a></li>
                <li><a href="#ukazka1">Ukážka 1</a></li>
                <li><a href="#ukazka2">Ukážka 2</a></li>
                <li><a href="/vzory/stranka-s-obsahom">Stránka s obsahom</a></li>
            </ul>

            <h3 class="govuk-heading-m" id="info">Popis</h3>
            <p class="govuk-body">
               Informacie o komponente
            </p>
        </div>

        <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m" id="ukazka1">Ukážka 1</h3>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="example example-mobile example-mobile-scroll">
                {% set exampleComponentHtml %}
                    {% include "../komponenty/examples/inPageNavigation.njk" %}
                {% endset %}
                <iframe 
                  srcdoc="{{ exampleComponentHtml }}"
                  height="270px"
                >
                </iframe>
              </div>
            </div>
          </div>

          <h3 class="govuk-heading-m" id="ukazka2">Ukážka 2</h3>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="example example-mobile example-mobile-scroll">
                <iframe 
                  src="/custom-components/in-page-navigation/default/preview"
                  height="350px"
                ></iframe>
              </div>
            </div>
            <div class="govuk-grid-column-one-half">
              <div class="example example-mobile example-mobile-scroll">
                <iframe 
                  src="/custom-components/in-page-navigation/default-rozsireny/preview"
                  height="350px"
                ></iframe>
              </div>
            </div>
          </div>

        </div>
        
    </div>

  </div>
{% endblock %}