{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/interactive-map/macro.njk" import idskInteractiveMap %}
{% set pageName = "Interaktívna mapa" %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      { text: 'ID-SK frontend', href: '/' + legacyQuery },
      { text: pageName }
    ]
  }) }}
{% endblock %}
{% block content %}
    <span class="govuk-caption-xl">Webové komponenty</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m" id="vzor-suvisiaceho-obsahu">Vzor interaktívnej mapy</h3>
        <div class="example example-error">
          {# https://raw.githubusercontent.com/Institut-Zdravotnych-Analyz/covid19-data/main/OpenData_Slovakia_CovidAutomat.csv #}
          {# https://github.com/Institut-Zdravotnych-Analyz/covid19-data/blob/main/OpenData_Slovakia_CovidAutomat.csv #}
          {% set exampleComponentHtml %}
            {{ idskInteractiveMap({
              tableDataSource: "/public/assets/data/korona.gov.sk.csv",
              mapIframeSource: "/vzory/interactive-map"
          }) }}
          {% endset %}
          {{exampleComponentHtml | safe}}
        </div>
        <pre class="language-markup"><code class="govuk-!-font-size-16 language-markup">{{ exampleComponentHtml }}</code></pre>
      </div>
      <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m" id="priklady">Rozšírené príklady interaktívnej mapy</h2>
            <ul class="govuk-list">
                <li><a href="/custom-components/interactive-map">Rozšírené príklady interaktívnej mapy</a></li>
            </ul>
        </div>
    </div>
{% endblock %}