{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/card/macro.njk" import idskCard %}

{% set pageName = "Karta" %}

{% block beforeContent %}
 {{ govukBreadcrumbs({
     "items": [
         { text: 'ID-SK frontend', href: '/' + legacyQuery },
         { text: pageName }
     ]
 }) }}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <span class="govuk-caption-xl">Webové komponenty</span>
        <h1 class="govuk-heading-xl">{{pageName}}</h1>
        <p class="govuk-body-l">Karty sa používaju na rôzne veci</p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">Typy kariet:</h2>

                <ul class="govuk-list">
                <li><a href="#card-basic">Základná kartička</a></li>
                <li><a href="#card-simple">Jednoduchá kartička</a></li>
                <li><a href="#card-hero">Hero kartička</a></li>
                <li><a href="#card-hero-secondary-horizontal">Sekundárna kartička - horizontálna</a></li>
                <li><a href="#card-hero-secondary-vertical">Sekundárna kartička - vertikálna</a></li>
                <li><a href="#card-basic-no-image">Základná kartička - bez obrázka</a></li>
                <li><a href="#card-profile-vertical">Profilová kartička - vertikálna</a></li>
                <li><a href="#card-profile-horizontal">Horizontálna kartička - horizontálna</a></li>
                </ul>

                <h3 class="govuk-heading-m" id="card-basic">Základná kartička</h3>
                <p class="govuk-body">Základné použitie karty</p>
            </div>

            <div class="govuk-grid-column-full">
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "basic", 
                            "imgSrc": "https://s3-alpha-sig.figma.com/img/4aad/43c6/d061125856d1edfcd5abf79198e22a8f?Expires=1605484800&Signature=ae1pRrB~Oaax4rr5HbXOY~aF7ybo~Bv12OZs0yH-5VH1qjkT5gPWqQbP-WeIS1hYxhx8HtOgQopkETd02ZAUU9NxIsPUiBDA5BitOImalvFTHypNGvZKbJ-eka6k66OzB0K~lFaiWgbv5b2IYXmAz9uzMMPW33nASvcFtCthJDpFPla1MCK4~4750s176xTTzLTOjGBtgoxe4bThV7BIFZljaXv~GzkE3BpjkkbYQtItcDJJaRIGganFhw12aJk7ehZzV00tKP~HfnkAFM6cyDHj58Ncixwdn2L8zi8KInyvZfnhWmFR3pQlbOvTlozA0c35Qcsr3Q-BIgRe9GZ~Cg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA", 
                            "link": "",
                            "heading": "Podpora najmenej rozvinutých okresov: Nové výzvy po novom!",
                            "description": "Regióny sú pre vládu prioritou, preto podpredsedníčka vlády a ministerka investícií, regionálneho rozvoja a informatizácie Veronika Remišová.",
                            "date": { "date": "1.7.2020", "link": "" },
                            "tags": [ { "tag": "Ministerka", "link": "" }, { "tag": "COVID-19", "link": "" }, { "tag": "Eurofondy", "link": "" } ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m" id="card-simple">Jednoduchá kartička</h3>
                <p class="govuk-body">Zjednodušené použitie kartičky, obsahuje len obrázok a hlavičku</p>
            </div>

            <div class="govuk-grid-column-full">
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "simple", 
                            "imgSrc": "https://s3-alpha-sig.figma.com/img/ebda/6549/7a80372680e588b356e664f64fbdfb46?Expires=1605484800&Signature=K1ynDrwqS0tZFSVqZnw3bpxnzkxhmuqx5BdD6TKzwu7bJ4yUoAFt33s1Vduc21B-8Qr-s1st-e0ontvAAnB13iVkuta0ORIz~ryMfP9Fe4goTxCZ6naSoeZOBrez8H374cuX1p2pb1vOEh3agBdET4bbpEJDJobZCaeEmFdT0nqMncHerb97kWIm3xcPYT1ntAtijKcFKnS9-Hdy4Lf4QICWkpno~MO2C3bOxLZDfBdCn32y8i0UkKuYdHjtaDOtRPg5RvIO~l~r2lRsEsVn4NYYm9NEAqLnn5y3zx4~~NNR6HQ1FMh0N01yjGT3f4qQgwJu-iDNdHnilaNwWYq1kA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA", 
                            "link": "",
                            "heading": "V. Remišová rokovala s ministrami V4 o nových návrhoch financovania projektov na zmiernenie dopadov pandémie",
                            "date": { "date": "1.7.2020", "link": "" },
                            "tags": [ { "tag": "Ministerka", "link": "" }, { "tag": "COVID-19", "link": "" } ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>
  

        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="card-hero">Hero kartička</h3>
            <p class="govuk-body">Kartička ktorá sa používa na vyplnenie celkovej šírky kontajnera</p>
        </div>

        <div class="govuk-grid-column-full">
            <div class="example example-error">
                {% set exampleComponentHtml %}
                    {{ idskCard({ 
                        "type": "hero", 
                        "imgSrc": "https://s3-alpha-sig.figma.com/img/4aad/43c6/d061125856d1edfcd5abf79198e22a8f?Expires=1605484800&Signature=ae1pRrB~Oaax4rr5HbXOY~aF7ybo~Bv12OZs0yH-5VH1qjkT5gPWqQbP-WeIS1hYxhx8HtOgQopkETd02ZAUU9NxIsPUiBDA5BitOImalvFTHypNGvZKbJ-eka6k66OzB0K~lFaiWgbv5b2IYXmAz9uzMMPW33nASvcFtCthJDpFPla1MCK4~4750s176xTTzLTOjGBtgoxe4bThV7BIFZljaXv~GzkE3BpjkkbYQtItcDJJaRIGganFhw12aJk7ehZzV00tKP~HfnkAFM6cyDHj58Ncixwdn2L8zi8KInyvZfnhWmFR3pQlbOvTlozA0c35Qcsr3Q-BIgRe9GZ~Cg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA", 
                        "link": "",
                        "heading": "Podpora najmenej rozvinutých okresov: Nové výzvy po novom!",
                        "description": "Regióny sú pre vládu prioritou, preto podpredsedníčka vlády a ministerka investícií, regionálneho rozvoja a informatizácie Veronika Remišová.",
                        "date": { "date": "1.7.2020", "link": "" },
                        "tags": [ { "tag": "Ministerka", "link": "" }, { "tag": "COVID-19", "link": "" }, { "tag": "Eurofondy", "link": "" } ]
                    }) }}
                {% endset %}
                {{exampleComponentHtml | safe}}
            </div>
            <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="card-hero-secondary-horizontal">Sekundárna kartička - horizontálna</h3>
            <p class="govuk-body">Ďalší typ kartičky ktorý sa používa na vyplnenie celkovej šírky kontajnera</p>
        </div>

        <div class="govuk-grid-column-full">
            <div class="example example-error">
                {% set exampleComponentHtml %}
                    {{ idskCard({ 
                        "type": "secondary-horizontal", 
                        "imgSrc": "https://s3-alpha-sig.figma.com/img/ebda/6549/7a80372680e588b356e664f64fbdfb46?Expires=1605484800&Signature=K1ynDrwqS0tZFSVqZnw3bpxnzkxhmuqx5BdD6TKzwu7bJ4yUoAFt33s1Vduc21B-8Qr-s1st-e0ontvAAnB13iVkuta0ORIz~ryMfP9Fe4goTxCZ6naSoeZOBrez8H374cuX1p2pb1vOEh3agBdET4bbpEJDJobZCaeEmFdT0nqMncHerb97kWIm3xcPYT1ntAtijKcFKnS9-Hdy4Lf4QICWkpno~MO2C3bOxLZDfBdCn32y8i0UkKuYdHjtaDOtRPg5RvIO~l~r2lRsEsVn4NYYm9NEAqLnn5y3zx4~~NNR6HQ1FMh0N01yjGT3f4qQgwJu-iDNdHnilaNwWYq1kA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA", 
                        "link": "",
                        "heading": "V. Remišová rokovala s ministrami V4",
                        "description": "Podpredsedníčka vlády SR pre investície a informatizáciu Veronika Remišová sa spoločne s ministrami krajín Visegrádskej štvorky (V4) zodpovednými za politiku súdržnosti zúčastnila videokonferencie",
                        "date": { "date": "1.7.2020", "link": "" },
                        "tags": [ { "tag": "Ministerka", "link": "" }, { "tag": "COVID-19", "link": "" }, { "tag": "Eurofondy", "link": "" } ]
                    }) }}
                {% endset %}
                {{exampleComponentHtml | safe}}
            </div>
            <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
        </div>

                <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="card-hero-secondary-vertical">Sekundárna kartička - vertikálna</h3>
            <p class="govuk-body">Vertikálny typ sekundárnej kartičky</p>
        </div>

        <div class="govuk-grid-column-full">
            <div class="example example-error">
                {% set exampleComponentHtml %}
                    {{ idskCard({ 
                        "type": "secondary-vertical", 
                        "imgSrc": "https://s3-alpha-sig.figma.com/img/4aad/43c6/d061125856d1edfcd5abf79198e22a8f?Expires=1605484800&Signature=ae1pRrB~Oaax4rr5HbXOY~aF7ybo~Bv12OZs0yH-5VH1qjkT5gPWqQbP-WeIS1hYxhx8HtOgQopkETd02ZAUU9NxIsPUiBDA5BitOImalvFTHypNGvZKbJ-eka6k66OzB0K~lFaiWgbv5b2IYXmAz9uzMMPW33nASvcFtCthJDpFPla1MCK4~4750s176xTTzLTOjGBtgoxe4bThV7BIFZljaXv~GzkE3BpjkkbYQtItcDJJaRIGganFhw12aJk7ehZzV00tKP~HfnkAFM6cyDHj58Ncixwdn2L8zi8KInyvZfnhWmFR3pQlbOvTlozA0c35Qcsr3Q-BIgRe9GZ~Cg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA", 
                        "link": "",
                        "heading": "V. Remišová rokovala s ministrami V4 o nových návrhoch financovania projektov na zmiernenie dopadov pandémie",
                        "description": "Regióny sú pre vládu prioritou, preto podpredsedníčka vlády a ministerka investícií, regionálneho rozvoja a informatizácie Veronika Remišová.",
                        "date": { "date": "1.7.2020", "link": "" },
                        "tags": [ { "tag": "Ministerka", "link": "" }, { "tag": "COVID-19", "link": "" } ]
                    }) }}
                {% endset %}
                {{exampleComponentHtml | safe}}
            </div>
            <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="card-basic-no-image">Základná kartička - bez obrázka</h3>
            <p class="govuk-body">Variant základnej kartičky bez pridaného obrázka</p>
        </div>

        <div class="govuk-grid-column-full">
            <div class="example example-error">
                {% set exampleComponentHtml %}
                    {{ idskCard({ 
                        "type": "basic-variant", 
                        "link": "",
                        "heading": "Pandémia COVID-19 ešte viac zvýraznila potrebu urýchliť digitálnu transformáciu v Európe",
                        "description": "Závery Európskej rady (ER) o jednotnom trhu, priemyselnej politike a digitálnej transformácii hovoria o zvýšení globálnej konkurencieschopnosti, autonómie priemyselných odvetví EÚ a urýchlenie digitálnej transformácie.",
                        "date": { "date": "1.7.2020", "link": "" },
                        "tags": [ { "tag": "Ministerka", "link": "" }, { "tag": "COVID-19", "link": "" }, { "tag": "Eurofondy", "link": "" } ]
                    }) }}
                {% endset %}
                {{exampleComponentHtml | safe}}
            </div>
            <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="card-basic-no-image">Základná kartička - bez obrázka a popisu</h3>
            <p class="govuk-body">Variant základnej kartičky bez pridaného obrázka a popisu</p>
        </div>

        <div class="govuk-grid-column-full">
            <div class="example example-error">
                {% set exampleComponentHtml %}
                    {{ idskCard({ 
                        "type": "basic-variant", 
                        "link": "",
                        "heading": "Pandémia COVID-19 ešte viac zvýraznila potrebu urýchliť digitálnu transformáciu v Európe",
                        "date": { "date": "1.7.2020", "link": "" },
                        "tags": [ { "tag": "Ministerka", "link": "" }, { "tag": "COVID-19", "link": "" }, { "tag": "Eurofondy", "link": "" } ]
                    }) }}
                {% endset %}
                {{exampleComponentHtml | safe}}
            </div>
            <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="card-profile-vertical">Profilová kartička - vertikálna</h3>
            <p class="govuk-body">Vertikálna profilová kartička</p>
        </div>

        <div class="govuk-grid-column-full">
            <div class="example example-error">
                {% set exampleComponentHtml %}
                    {{ idskCard({ 
                        "type": "profile-vertical",
                        "link": "", 
                        "imgSrc": "https://s3-alpha-sig.figma.com/img/abf9/794d/2189dba18047ed25a3ea0c02d537f4d7?Expires=1605484800&Signature=O6HAdwzM5jWTxhIvXPrXHW0jLyPoVd~JKItSh1rvYrMGl-~INvGK750hUcypco8RiSKUBmV5~JvoK6JlILtoR7l87U7BXK3faX5CXuGeOMm8RnY~xKaR6jpfphOxNU~Hta2JopxVEoOW5VGTiw36HLlcDhQ3BqCelT3b3W9UJ3QFh9lFQiFpgs-~2ovN8TqVJ~16Y8SKStoWxE011jTVkhCa59Zfb1KzXJA1kAQrAm75ssXDbwgyPLnjkg7sc9khZQN6uATeSdI7dVI9JbjWIAB8hXD9v10XW-ePLVYGBKT4lH6xTrlipI0~8JrF7jfHWbPQGIzBk9RNwXfz7MJuvQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA",
                        "heading": "Vladimír Ledecký",
                        "description": "Štátny tajomník pre riadenie investícií a regionálny rozvoj"
                    }) }}
                {% endset %}
                {{exampleComponentHtml | safe}}
            </div>
            <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="card-profile-horizontal">Profilová kartička - horizontálna</h3>
            <p class="govuk-body">Horizontálna profilová kartička</p>
        </div>

        <div class="govuk-grid-column-full">
            <div class="example example-error">
                {% set exampleComponentHtml %}
                    {{ idskCard({ 
                        "type": "profile-horizontal", 
                        "link": "",
                        "imgSrc": "https://s3-alpha-sig.figma.com/img/0ad1/3bb4/9a81dd119b4d47e96326dbcd7794a56a?Expires=1605484800&Signature=MEhs6hJs7I2p01nwSZjvdM8clTQXbmyDRCwIy8whO7X1TcnQ1tRD-XPq~hYLSZj5yQwW3pqByBcHU2sXIxLX3XZrh7WkzfyNy3Je7~nxa8ubZiIbrZ11jEFD~-fQd-EZ~n7be~8avoXQPMEAb5xx2zunekjcSHkdzQVHZ8TOXzYIC3wHUDdSRM8gB3FJ4YvqKNTAVJZyJjuKeRM~vnE8y7vyfp2SBFYreF-iDjDqmDNgvlvakYU0yX3bsakY3RwbbAwPSSluqgHbB2S3eHGnBPDFnmshdQswcwMD7TJaDSt30sxf28qEW6YdGv9WhefejOFVbg8EP7zzAPjSC0TFdQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA",
                        "heading": "Veronika Remišová",
                        "description": "Ministerka investícií, regionálneho rozvoja a informatizácie",
                        "quote": "Služby orientované na občana, podpora eurofondov a boj proti korupcii."
                    }) }}
                {% endset %}
                {{exampleComponentHtml | safe}}
            </div>
            <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
        </div>

      </div>
    </div>
{% endblock %}