{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/card/macro.njk" import idskCard %}

{% set pageName = "Karta" %}

{% block beforeContent %}
 {{ govukBreadcrumbs({
     "items": [
         { text: 'ID-SK frontend', href: '/' + legacyQuery },
         { text: pageName }
     ]
 }) }}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <span class="govuk-caption-xl">Webové komponenty</span>
        <h1 class="govuk-heading-xl">{{pageName}}</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">Obsah:</h2>
                <ul class="govuk-list">
                    <li><a href="#card-basic">Základná kartička</a></li>
                    <li><a href="#card-hero-secondary">Sekundárna kartička</a></li>
                    <li><a href="#card-simple">Jednoduchá kartička</a></li>
                    <li><a href="#card-hero">Hero kartička</a></li>
                    <li><a href="#card-basic-no-image">Základná kartička bez obrázka</a></li>
                    <li><a href="#card-basic-no-image-no-desc">Základná kartička bez obrázka a popisu</a></li>
                    <li><a href="#card-profile-vertical">Profilová kartička - vertikálna</a></li>
                    <li><a href="#card-profile-horizontal">Profilová kartička - horizontálna</a></li>
                </ul>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="card-basic">Základná kartička</h3>
                <p class="govuk-body">
                    Základná kartička: Základnú kartičku použite ako hlavnú kartičku. Môžete ju použiť ako najaktuálnejší obsah v aktualitách alebo ako dôležitý obsah, ktorý chcete, aby používateľ našiel. Použite iba 1 základnú kartičku v jednom bloku.
                </p>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "basic", 
                            "imgSrc": "/public/assets/images/examples/card-1.jpg", 
                            "link": "#",
                            "heading": "Podpora najmenej rozvinutých okresov: Nové výzvy po novom!",
                            "description": "Regióny sú pre vládu prioritou, preto podpredsedníčka vlády a ministerka investícií, regionálneho rozvoja a informatizácie Veronika Remišová.",
                            "date": { "date": "1.7.2020", "link": "#" },
                            "tags": [ { "tag": "Ministerka", "link": "#" }, { "tag": "COVID-19", "link": "#" }, { "tag": "Eurofondy", "link": "#" } ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="card-hero-secondary">Sekundárna kartička</h3>
                <p class="govuk-body">
                    Sekundárnu kartičku použite v jednom bloku spolu so základnou kartičkou. Sekundárna kartička nasleduje po primárnej kartičke. Názov článku musí byť výstižný, maximálne na 3 riadky alebo do 70 znakov. Popis článku maximálne na 6 riadkov alebo do 240 znakov. Použite 2 alebo 3 tagy tak, aby sa zmestili do 1 riadku spolu s dátumom publikovania článku. 
                </p>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "secondary", 
                            "imgSrc": "/public/assets/images/examples/card-2.jpg", 
                            "link": "#",
                            "heading": "V. Remišová rokovala s ministrami V4",
                            "description": "Podpredsedníčka vlády SR pre investície a informatizáciu Veronika Remišová sa spoločne s ministrami krajín Visegrádskej štvorky (V4) zodpovednými za politiku súdržnosti zúčastnila videokonferencie",
                            "date": { "date": "1.7.2020", "link": "#" },
                            "tags": [ { "tag": "Ministerka", "link": "#" }, { "tag": "Eurofondy", "link": "#" } ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="card-simple">Jednoduchá kartička</h3>
                <p class="govuk-body">
                     Jednoduchú kartičku použite, keď nepotrebujete pridať bližší popis. Názov musí byť výstižný, maximálne na 3 riadky alebo do 70 znakov.
                </p>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "simple", 
                            "imgSrc": "/public/assets/images/examples/card-2.jpg", 
                            "link": "#",
                            "heading": "V. Remišová rokovala s ministrami V4",
                            "date": { "date": "1.7.2020", "link": "#" },
                            "tags": [ { "tag": "Ministerka", "link": "#" }, { "tag": "COVID-19", "link": "#" } ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>
  
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="card-hero">Hero kartička</h3>
                <p class="govuk-body">
                    Hero kartičku môžete použiť ako ekvivalent základnej kartičky (teda ako prvú primárnu kartičku). Názov kartičky musí byť výstižný, maximálne na 3 riadky. Popis kartičky nesmie presahovať pod fotografiu. 
                </p>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "hero", 
                            "imgSrc": "/public/assets/images/examples/card-1.jpg", 
                            "link": "#",
                            "heading": "Podpora najmenej rozvinutých okresov: Nové výzvy po novom!",
                            "description": "Regióny sú pre vládu prioritou, preto podpredsedníčka vlády a ministerka investícií, regionálneho rozvoja a informatizácie Veronika Remišová.",
                            "date": { "date": "1.7.2020", "link": "#" },
                            "tags": [ { "tag": "Ministerka", "link": "#" }, { "tag": "COVID-19", "link": "#" }, { "tag": "Eurofondy", "link": "#" } ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="card-basic-no-image">Základná kartička bez obrázka</h3>
                <p class="govuk-body">
                    Kartičku použite, ak chcete zobraziť viacero článkov na menšom priestore. Základná kartička bez obrázka je vhodná pre použitie pre RSS kanál. 
                </p>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "basic-variant", 
                            "link": "#",
                            "heading": "Pandémia COVID-19 ešte viac zvýraznila potrebu urýchliť digitálnu transformáciu v Európe",
                            "description": "Závery Európskej rady (ER) o jednotnom trhu, priemyselnej politike a digitálnej transformácii hovoria o zvýšení globálnej konkurencieschopnosti, autonómie priemyselných odvetví EÚ a urýchlenie digitálnej transformácie.",
                            "date": { "date": "1.7.2020", "link": "#" },
                            "tags": [ { "tag": "Ministerka", "link": "#" }, { "tag": "COVID-19", "link": "#" }, { "tag": "Eurofondy", "link": "#" } ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="card-basic-no-image-no-desc">Základná kartička bez obrázka a popisu</h3>
                <p class="govuk-body">
                    Kartičku použite, ak chcete zobraziť viacero článkov na menšom priestore. Základná kartička bez obrázka a popisu je vhodná pre použitie pre RSS kanál.
                </p>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "basic-variant", 
                            "link": "#",
                            "heading": "Pandémia COVID-19 ešte viac zvýraznila potrebu urýchliť digitálnu transformáciu v Európe",
                            "date": { "date": "1.7.2020", "link": "#" },
                            "tags": [ { "tag": "Ministerka", "link": "#" }, { "tag": "COVID-19", "link": "#" }, { "tag": "Eurofondy", "link": "#" } ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="card-profile-vertical">Profilová kartička - vertikálna</h3>
                <p class="govuk-body">
                    Kartičku použite, keď chcete umiestniť viacero profilových kartičiek vedľa seba. Po kliknutí na meno sa zobrazí stránka so životopisom. Po kliknutí na rolu/post/funkciu sa zobrazí stránka so všeobecným popisom povinností a kompetencií danej funkcie.
                </p>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "profile-vertical",
                            "link": "#", 
                            "imgSrc": "/public/assets/images/examples/card-3.jpg", 
                            "heading": "Vladimír Ledecký",
                            "description": "Štátny tajomník pre riadenie investícií a regionálny rozvoj"
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="card-profile-horizontal">Profilová kartička - horizontálna</h3>
                <p class="govuk-body">
                    Kartičku použite, keď chcete zvýrazniť osobu alebo post, ktorý je zastávaný. Napríklad pri ministroch, výkonných riaditeľoch podnikov apod. Pri tejto kartičke sa môže použiť aj motto.					
                </p>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCard({ 
                            "type": "profile-horizontal", 
                            "link": "#",
                            "imgSrc": "/public/assets/images/examples/card-4.jpg", 
                            "heading": "Veronika Remišová",
                            "description": "Ministerka investícií, regionálneho rozvoja a informatizácie",
                            "quote": "Služby orientované na občana, podpora eurofondov a boj proti korupcii."
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

      </div>
    </div>
{% endblock %}
