{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/registration-for-event/macro.njk" import idskRegistrationForEvent %}
{% set pageName = "Registrácia na podujatie" %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      { text: 'ID-SK frontend', href: '/' + legacyQuery },
      { text: pageName }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <span class="govuk-caption-xl">Webové komponenty</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m" id="vzor-suvisiaceho-obsahu">Vzor súvisiaceho obsahu</h3>
        <div class="example example-error">
          {% set exampleComponentHtml %}
            {{ idskRegistrationForEvent({
              heading: "Registrácia na podujatie",
              formItems: [
                {
                  label: "Meno",
                  tag: "input",
                  name: "name",
                  type: "text",
                  required: true
                },
                {
                  label: "Priezvisko",
                  tag: "input",
                  name: "surname",
                  type: "text",
                  required: true
                },
                {
                  label: "Emailová adresa",
                  hint: "Sem zadajte emailovú adresu v tvare email@email.sk",
                  tag: "input",
                  name: "email",
                  type: "email",
                  required: true
                },
                {
                  label: "Organizácia",
                  tag: "input",
                  name: "organization",
                  type: "text"
                },
                {
                  label: "Miesto konania podujatia",
                  tag: "select",
                  name: "city",
                  options: [
                    {
                      value: "Bardejov",
                      name: "Bardejov"
                    },
                    {
                      value: "Kosice",
                      name: "Košice"
                    },
                    {
                      value: "Bratislava",
                      name: "Bratislava"
                    }
                  ]
                },
                {
                  label: "Súhlasím so spracovaním osobných údajov za účelom účasti na podujatí.",
                  tag: "input",
                  name: "terms",
                  type: "checkbox",
                  required: true
                }
              ],
              buttonLabel: "Registrovať na podujatie",
              thankYouMsg: "Ďakujeme za registráciu na podujatie."
            }) }}
          {% endset %}
          {{exampleComponentHtml | safe}}
        </div>
        <pre class="language-markup"><code class="govuk-!-font-size-16 language-markup">{{ exampleComponentHtml }}</code></pre>
      </div>
    </div>
  </div>
{% endblock %}
