{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/crossroad/macro.njk" import idskCrossroad %}

{% set pageName = "Rozcestník" %}

{% block beforeContent %}
 {{ govukBreadcrumbs({
     "items": [
         { text: 'ID-SK frontend', href: '/' + legacyQuery },
         { text: pageName }
     ]
 }) }}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <span class="govuk-caption-xl">Webové komponenty</span>
        <h1 class="govuk-heading-xl">{{pageName}}</h1>
        <p class="govuk-body-l">
            Rázcestník použite vtedy, keď chcete odkázať používateľa na konkrétny obsah na vašej stránke.
        </p>
        <p class="govuk-body-l">
            Môžete ho použiť v rozložení v 1 stĺpci alebo v 2 stĺpcoch. Ráscestník používajte s nadpisom, ktorý zastrešuje jeho obsah. Ku každému odkazu môžete napísať výstižný, krátky popis, aby používateľ vedel, aký obsah nájde na danom odkaze. 
        </p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ul class="govuk-list">
                    <li><a href="#crossroad-one">Rozcestník v rozložení v 1 stĺpci</a></li>
                    <li><a href="#crossroad-two">Rozcestník v rozložení v 2 stĺpcoch</a></li>
                </ul>
            </div>
        </div>

        <p class="govuk-body">
            <strong>Príklad:</strong><br><br>
            Elektronické služby<br><br>

            - Elektronická služba 1<br>
            - Elektornická služba 2<br>
            - Elektronická služba 3 ..
        </p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body">
                    Pri rázcestníku môžete okrem nadpisu používateľovi pomôcť krátkym podnadpisom. V rámci neho môžete jednou vetou zhrnúť, akej témy sa jednotlivé dlaždice rázcestníku týkajú a môžete v nej súčasne použiť aj odkaz, ktorým sa dostane používateľ k všetkému obsahu na danú tému - napríklad "viac o elektronických službách". Môže to byť samostatná stránka, kde máte zobrazený obsah alebo to môže byť stránka s výsledkami vyhľadávania podľa danej témy. 
                </p>
                <p class="govuk-body">
                    Rázcestník nepoužívajte pre odkazy, ktoré medzi sebou zjavne nemajú nič spoločné.	
                </p>
            </div>
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="crossroad-one">Rozcestník v rozložení v 1 stĺpci</h3>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCrossroad({
                            "columns": 1,
                            "items": [ 
                                { "title": 'Title for 1st element', "subtitle": 'Subtitle for 1st element', "link": '#' },
                                { "title": 'Title for 2nd element', "subtitle": 'Subtitle for 2nd element', "link": '#' }, 
                                { "title": 'Title for 3rd element', "subtitle": 'Subtitle for 3rd element', "link": '#' },  
                                { "title": 'Title for 4th element', "subtitle": 'Subtitle for 4th element', "link": '#' },  
                                { "title": 'Title for 5th element', "subtitle": 'Subtitle for 5th element', "link": '#' },  
                                { "title": 'Title for 6th element', "subtitle": 'Subtitle for 6th element', "link": '#' }
                            ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m" id="crossroad-two">Rozcestník v rozložení v 2 stĺpcoch</h3>
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                        {{ idskCrossroad({
                            "columns": 2,
                            "items": [ 
                                { "title": 'Title for 1st element', "subtitle": 'Subtitle for 1st element', "link": '#crossroad-one' },
                                { "title": 'Title for 2nd element', "subtitle": 'Subtitle for 2nd element', "link": '#' }, 
                                { "title": 'Title for 3rd element', "subtitle": 'Subtitle for 3rd element', "link": '#' },  
                                { "title": 'Title for 4th element', "subtitle": 'Subtitle for 4th element', "link": '#' },  
                                { "title": 'Title for 5th element', "subtitle": 'Subtitle for 5th element', "link": '#' },  
                                { "title": 'Title for 6th element', "subtitle": 'Subtitle for 6th element', "link": '#' }
                            ]
                        }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>

        </div>
    </div>
{% endblock %}
