{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Tabuľkový filter" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      { text: 'ID-SK frontend', href: '/' + legacyQuery },
      { text: pageName }
    ]
  }) }}
{% endblock %}

{% block content %}
  <span class="govuk-caption-xl">Webové komponenty</span>
  <h1 class="govuk-heading-xl">{{ pageName }}</h1>
  <p class="govuk-body-l">
    Tabuľkový filter
  </p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s">Obsah:</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#jednoduchy-filter" title="Jednoduchý filter">Jednoduchý filter</a>
        </li>
        <li>
          <a class="govuk-link" href="#zlozity-filter" title="Zložitý filter">Zložitý filter</a>
        </li>
      </ul>
      <h3 class="govuk-heading-m">Tabuľkový filter</h3>
      <p class="govuk-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam distinctio dolor eos et exercitationem explicabo facere fugit
        illo laboriosam neque nisi nostrum perferendis quidem, rerum sit tempore vitae voluptatibus.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m" id="jednoduchy-filter">
        Jednoduchý tabuľkový filter
      </h3>
      <div class="example">
        {% set exampleComponentHtml %}
          {% include "komponenty/examples/exampleTableFilterSimple.njk" %}
        {% endset %}
        {{ exampleComponentHtml | safe }}
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m" id="zlozity-filter">
        Zložitý tabuľkový filter
      </h3>
      <div class="example">
        {% set exampleComponentHtml %}
          {% include "komponenty/examples/exampleTableFilterAdvanced.njk" %}
        {% endset %}
        {{ exampleComponentHtml | safe }}
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l" id="priklady">Rozšírené príklady pre tabuľkový filter</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/custom-components/table-filter" title="Rozšírené príklady tabuľkového filtra">
            Rozšírené príklady tabuľkového filtra
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
