{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../../../src/idsk/components/timeline/macro.njk" import idskTimeline %}
{% set pageName = "Timeline" %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
     "items": [
         { text: 'ID-SK frontend', href: '/' + legacyQuery },
         { text: pageName }
     ]
 }) }}
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-xl idsk-stepper__heading">{{pageName}}</h1>
        <p class="govuk-body-l">
            Timeline je komponent.
        </p>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-l">Vzor Timeline</h3>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="example example-error">
                    {% set exampleComponentHtml %}
                    {{ idskTimeline({
                        "events": [
                        {
                            "date": "14.03.2021",
                            "time": "8:30 - 12:00",
                            "caption": [
                            {
                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscingLorem ipsum dolor sit amet, consectetur adid",
                                "href": "#"
                            }
                            ]
                        },
                        {
                            "date": "15.03.2021",
                            "time": "9:30 - 12:00",
                            "caption": [
                            {
                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing",
                                "href": "#"
                            }
                            ]
                        },
                        {
                            "date": "16.03.2021",
                            "time": "10:30 - 12:00",
                            "dateLine": "marec 2021",
                            "caption": [
                            {
                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscingLorem ipsum dolor sit amet, consectetur adid",
                                "href": "#"
                            }
                            ]
                        },
                        {
                            "date": "17.03.2021",
                            "time": "8:30 - 12:00",
                            "caption": [
                            {
                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt labor et labore. Lorem ipsum dolor sit amet, consectetur adipiscing",
                                "href": "#"
                            }
                            ]
                        },
                        {
                            "date": "18.03.2021",
                            "time": "8:30 - 12:00",
                            "dateLine": "máj 2021",
                            "title": "Vybavenie rodného listu dieťaťa",
                            "caption": [
                            {
                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscingelit, sed do eiusmod tempor incididunt ut labore et labore. Lorem ipsum dolor sit",
                                "href": "#"
                            }
                            ]
                        },
                        {
                            "date": "19.03.2021",
                            "time": "8:30 - 12:00",
                            "caption": [
                            {
                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing",
                                "href": "#"
                            }
                            ]
                        }
                        ]
                    }) }}
                    {% endset %}
                    {{exampleComponentHtml | safe}}
                </div>
                <pre class=" language-markup"><code class="govuk-!-font-size-16  language-markup">{{ exampleComponentHtml }}</code></pre>
            </div>
        </div>
        <div class="govuk-grid-row">

        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-m">Zvýraznený krok po kliknutí na odkaz</h4>
                <p class="govuk-body">
                    Tento prvok sa použije na konci obsahu ku konkrétnemu obsahu, aby používateľ vedel, na ktorý odkaz v stepperi klikol. Slúži to ako dodatočná navigácia v rámci steppera.
                </p>

                <h3 class="govuk-heading-l idsk-stepper__heading--top">Ako použiť timeline pre životnú situáciu ?</h3>
                <p class="govuk-body">
                    Keď používateľ počas riešenia svojej životnej situácie narazí na tzv. trecie plochy, t.j. časti procesu, v ktorých sa neorientuje hladko, spôsobí to používateľovi frustráciu a nemusí danú časť procesu úspešne dokončiť. Ak aj vaša služba nie je 100 % digitalizovaná alebo nemá dokonalý dizajn, dobrým návodom a popisom výrazne uľahčíte používateľovi zvládnuť danú službu alebo časť životnej situácie. Kvalitný návod vám môže znížiť administratívne náklady - ak budú používatelia vedieť, čo majú robiť, nebudú sa obracať na vaše call centrum alebo písať emaily. Kvalitným návodom navyše získate spokojného občana - zákazníka.
                </p>
                <p class="govuk-body">
                    V ideálnom prípade by ste mali pomocou steppera zvizualizovať na vašom portáli celú životnú situáciu tak, ako ju vníma používateľ (nie len vašu agendu, ktorá z pohľadu používateľa tvorí jeden z krokov). Používateľa pri riešení životnej situácie totiž nezaujíma, že jeho potreby a práva napĺňa viacero inštitúcií. Veľakrát to ani nevie a nemusí vedieť. Pre používateľa vystupuje štát ako jedna organizácia.
                </p>
                <p class="govuk-body">
                    Ak poskytujete aspoň jednu službu v danej životnej situácii a ostatné služby poskytujú iné orgány verejnej moci, skontaktujte sa s kolegami z ostatných inštitúcií a skoordinujte sa pri tvorbe takéhoto návodu. Všetky inštitúcie používajte jeden a ten istý stepper k životnej situácii.
                </p>
                <br>
                <h2 class="govuk-heading-s">
                    <a class="govuk-link" href="/custom-components/timeline/default/preview" title="Rozšírený príklad podstránky timeline">Rozšírený príklad podstránky timeline</a>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}