@import "../../../govuk/settings/all";
@import "../../../govuk/tools/all";
@import "../../../govuk/helpers/all";
@import "../../../govuk/helpers/typography";
@import "../../../govuk/objects/grid";

@include govuk-exports("idsk/component/intro-block") {
    .idsk-intro-block {
        @include govuk-font($size: 16);
    }

    .idsk-intro-block-search-button {
        width: 49px;
        height: 53px;

        @include mq($from: desktop) {
            width: 67px;
            height: 68px;
        }
    }

    .idsk-intro-block-search-input {
        @include govuk-font($size: 19);

        height: 53px;
        border: none;
        background: govuk-colour("grey-4");
        margin-right: -3px;
        font-style: normal;
        font-weight: normal;
        color: govuk-colour("dark-grey");

        @include mq($from: desktop) {
            height: 68px;
        }
    }

    .idsk-intro-block-search-input:focus {
        border: 2px solid govuk-colour("black");
    }

    .idsk-intro-block-search-input-with-button .govuk-input:focus {
        margin-right: 3px;
    }

    .idsk-intro-block-search-input-with-button {
        display: flex;
    }

    .idsk-intro-block-inline-list {
        margin-top: 0;
        margin-bottom: govuk-spacing(3);
        padding-left: 0;
        display: table;
    }

    .idsk-intro-block-subtitle {
        color: govuk-colour("black");
        padding-bottom: govuk-spacing(5);

        @include mq($from: desktop) {
            @include govuk-font($size: 19);
        }
    }

    .idsk-intro-block-inline-text-item {
        @include govuk-font($size: 19);

        display: inline;
        width: 60px;
        margin-right: govuk-spacing(3);
        margin-bottom: govuk-spacing(1);
    }

    .idsk-intro-block-inline-list-item {
        @include govuk-font($size: 16);

        display: inline-block;
        margin-right: govuk-spacing(6);
        margin-bottom: govuk-spacing(2);
        text-decoration-line: underline;

        @include mq($from: desktop) {
            margin-right: govuk-spacing(3);
        }
    }

    .idsk-intro-block-inline-list-item-a {
        white-space: nowrap;
    }

    .idsk-intro-block-inline-list-item .govuk-link:active,
    .idsk-intro-block-inline-list-item .govuk-link:link {
        color: govuk-colour("dark-grey");
    }

    .idsk-intro-block-top-content-menu {
        @include govuk-font($size: 19);

        display: contents;
        font-style: normal;
        font-weight: bold;
        text-align: right;
        text-decoration-line: underline;

        /* sass / link */
        color: govuk-colour("blue");
    }

    .idsk-intro-block-top-content-menu-item-blue-background {
        float: none;
        padding-bottom: govuk-spacing(4);
        display: contents;

        @include mq($from: desktop) {
            float: right;
            padding-bottom: 0;
        }
    }

    .idsk-intro-block-top-content-menu-item-blue-background li {
        display: flex;
    }

    .idsk-intro-block-top-content-menu-item-blue-background p {
        margin-bottom: -5px;
    }

    .idsk-intro-block-top-content-menu-item {
        display: table;
        float: none;
        margin: -20px 0;

        @include mq($from: desktop) {
            display: contents;
            float: right;
            padding-bottom: 0;
        }
    }

    .idsk-intro-block-top-content-menu-blue-background {
        padding-inline-start: 0;
    }

    .idsk-intro-block-top-content-menu-blue-background-div {
        padding-left: govuk-spacing(2);

        @include mq($from: desktop) {
            padding-left: govuk-spacing(1);
        }
    }

    #idsk-intro-block-top-content-container-desktop h2 {
        margin: 0;
        float: unset;
        margin-bottom: -15px;

        @include mq($from: desktop) {
            text-align: right;
            margin: 0 0 -30px 0px;
        }
    }

    #idsk-intro-block-top-content-container-desktop {
        width: auto;

        @include mq($from: desktop) {
            float: right;
            width: 26%;
        }
    }

    #idsk-intro-block-top-content-container-blue-background h2 {
        padding-top: govuk-spacing(3);
        margin-bottom: 0;

        @include mq($from: tablet) {
            padding-top: 0;
            margin-top: govuk-spacing(2);
            margin-bottom: -5px;
        }
    }

    .idsk-intro-block-bottom-menu-caption {
        display: block;
        color: govuk-colour("black");
        padding-bottom: govuk-spacing(2);

        @include mq($from: desktop) {
            @include govuk-font($size: 19);

            display: inline-grid;
            padding-bottom: 0;
            padding-right: govuk-spacing(4);
        }
    }

    .idsk-intro-block .govuk-heading-xl {
        margin-bottom: 0;
        @include mq($from: desktop) {
            @include govuk-font($size: 36, $weight: bold);
        }
    }

    .idsk-intro-block-popular-content-div {
        padding-top: govuk-spacing(5);
    }

    #idsk-intro-block-top-content-container-blue-background {
        padding-bottom: govuk-spacing(5);
        padding-left: govuk-spacing(7);

        @include mq($from: tablet) {
            padding-left: govuk-spacing(4);
        }

        @include mq($from: desktop) {
            margin-left: govuk-spacing(7);
            width: 26%;
            float: right;
        }
    }

    .idsk-intro-block-top-content-container-default {
        margin: 0 -30px;

        @include mq($from: tablet) {
            margin: 0 govuk-spacing(3);
        }
    }

    .idsk-intro-block .app-pane-grey {
        background-color: govuk-colour("light-grey");
        padding-left: 43px;
    }

    .app-pane-blue {
        background-color: govuk-colour("blue");
    }

    .idsk-intro-block-text-colour {
        color: govuk-colour("white");
        width: auto;
        line-break: normal;
    }

    .idsk-intro-block-side-menu-circle {
        padding-top: govuk-spacing(3);
        padding-right: govuk-spacing(1);
    }

    .idsk-intro-block-top-content-container-default #idsk-intro-block-top-content-container-desktop {
        padding-top: govuk-spacing(2);

        @include mq($from: tablet) {
            padding-left: govuk-spacing(3);
            padding-bottom: govuk-spacing(3);
        }
    }

    .idsk-intro-block .govuk-heading-l {
        @include mq($from: tablet) {
            @include govuk-font($size: 24, $weight: bold);
        }
    }

    #idsk-intro-block-top-content-container-blue-background .govuk-heading-l {
        color: govuk-colour("white");
    }

    #idsk-intro-block-top-content-container-desktop h2,
    #idsk-intro-block-top-content-container-blue-background h2 {
        text-transform: uppercase;
    }
}
