@import "../../../govuk/settings/all";
@import "../../../govuk/tools/all";
@import "../../../govuk/helpers/all";
@import "../../../govuk/helpers/typography";
@import "../../../govuk/objects/grid";

@include govuk-exports("idsk/component/intro-block") {
    .idsk-intro-block {
        @include govuk-font($size: 16);
    }

    .idsk-intro-block-search-button {
        width: 49px;
        height: 53px;
        border: none;

        @include mq($from: desktop) {
            width: 67px;
            height: 68px;
        }
    }

    .idsk-intro-block-search-input {
        height: 53px;
        border: none;
        background: govuk-colour("grey-4");
        margin-right: -3px;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 26px;
        color: #6f777b;

        @include mq($from: desktop) {
            height: 68px;
        }
    }

    .idsk-intro-block-search-input-with-button {
        display: flex;
    }

    .idsk-intro-block-inline-list {
        margin-top: 0;
        margin-bottom: govuk-spacing(3);
        padding-left: 0;
        display: table;
    }

    .idsk-intro-block-subtitle {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 10px;

        @include mq($from: desktop) {
            font-size: 19px;
            line-height: 25px;
        }
    }

    .idsk-intro-block-inline-text-item {
        display: inline;
        width: 60px;
        margin-right: govuk-spacing(3);
        margin-bottom: govuk-spacing(1);
        font-size: 19px;
        line-height: 25px;
    }

    .idsk-intro-block-inline-list-item {
        display: inline-block;
        margin-right: govuk-spacing(6);
        margin-bottom: govuk-spacing(2);
        text-decoration-line: underline;
        font-size: 16px;
        line-height: 20px;

        @include mq($from: desktop) {
            margin-right: govuk-spacing(3);
        }
    }

    .idsk-intro-block-inline-list-item-a {
        white-space: nowrap;
    }

    .idsk-intro-block-inline-list-item .govuk-link:active,
    .idsk-intro-block-inline-list-item .govuk-link:link {
        color: #626a6e;
    }

    .idsk-intro-block-top-content-menu {
        display: contents;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 25px;
        /* or 132% */

        text-align: right;
        text-decoration-line: underline;

        /* sass / link */

        color: #0065b3;
    }

    .idsk-intro-block-top-content-menu-item-blue-background {
        display: table;
        float: none;
        padding-bottom: 20px;
        display: contents;

        @include mq($from: desktop) {
            float: right;
            padding-bottom: 0;
        }
    }

    .idsk-intro-block-top-content-menu-item {
        display: table;
        float: none;
        margin: -20px 0;

        @include mq($from: desktop) {
            display: contents;
            float: right;
            padding-bottom: 0;
        }
    }

    .idsk-intro-block-top-content-menu-blue-background {
        padding-inline-start: 0;
    }

    .idsk-intro-block-top-content-menu-blue-background-div {
        padding-left: 10px;
        @include mq($from: desktop) {
            padding-left: 5px;
        }
    }

    #idsk-intro-block-top-content-container-desktop h2 {
        margin: 0;
        float: unset;
        @include mq($from: tablet) {
            float: right;
        }
    }

    #idsk-intro-block-top-content-container-blue-background h2 {
        padding-top: 15px;
        @include mq($from: desktop) {
            margin-top: 10px;
            padding-top: 0;
            margin-bottom: -5px;
        }
    }

    .idsk-intro-block-bottom-menu-caption {
        display: block;
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 20px;

        @include mq($from: desktop) {
            display: inline-grid;
            padding-bottom: 0;
            font-size: 19px;
            line-height: 25px;
            padding-right: 20px;
        }
    }

    .idsk-intro-block .govuk-heading-xl {
        font-size: 25px;
        @include mq($from: desktop) {
            font-size: 32px;
        }
    }

    .idsk-intro-block-popular-content-div {
        padding-top: 20px;
    }

    #idsk-intro-block-top-content-container-blue-background {
        padding-bottom: 5px;
        @include mq($from: desktop) {
            margin-left: 40px;
            width: 25%;
        }
    }

    .app-pane-grey {
        background-color: #dee0e2;
    }

    .app-pane-blue {
        background-color: #0065b3;
    }

    .idsk-intro-block-text-colour {
        color: govuk-colour("white");
        width: auto;
        line-break: normal;
    }
}
