{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Changelog" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}
  <div class="govuk-width-container">

    <span class="govuk-caption-xl">Úvod</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">
          <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">2018</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v2.0.0" target="_blank" rel="noopener noreferrer">v2.0.0</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v1.3.0" target="_blank" rel="noopener noreferrer">v1.3.0</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v1.2.0" target="_blank" rel="noopener noreferrer">v1.2.0</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v1.1.1" target="_blank" rel="noopener noreferrer">v1.1.1</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v1.1.0" target="_blank" rel="noopener noreferrer">v1.1.0</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v1.0.0" target="_blank" rel="noopener noreferrer">v1.0.0</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v0.0.32" target="_blank" rel="noopener noreferrer">v0.0.32</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v0.0.31-alpha" target="_blank" rel="noopener noreferrer">v0.0.31-alpha</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v0.0.30-alpha" target="_blank" rel="noopener noreferrer">v0.0.30-alpha</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v0.0.29-alpha" target="_blank" rel="noopener noreferrer">v0.0.29-alpha</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v0.0.28-alpha" target="_blank" rel="noopener noreferrer">v0.0.28-alpha</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v0.0.27-alpha" target="_blank" rel="noopener noreferrer">v0.0.27-alpha</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v0.0.26-alpha" target="_blank" rel="noopener noreferrer">v0.0.26-alpha</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v0.0.25-alpha" target="_blank" rel="noopener noreferrer">v0.0.25-alpha</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="govuk-link" href="https://github.com/id-sk/id-sk-frontend/releases/tag/v0.0.24-alpha" target="_blank" rel="noopener noreferrer">v0.0.24-alpha</a></td>
                </tr>

            </tbody>
            </table>


        </div>
    </div>

  </div>
{% endblock %}
