{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Changelog" %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        "items": [
            { text: 'ID-SK frontend', href: '/' + legacyQuery },
            { text: pageName }
        ]
    }) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

    <span class="govuk-caption-xl">Úvod</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">

            <p class="govuk-body-l">Zoznam všetkých verzií IDSK dizajn systému:</p>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">2021</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.9.0"
                                target="_blank" rel="noopener noreferrer" title="2.9.0">2.9.0</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.8.0"
                                target="_blank" rel="noopener noreferrer" title="2.8.0">2.8.0</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.7.0"
                                target="_blank" rel="noopener noreferrer" title="2.7.0">2.7.0</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.6.2"
                                target="_blank" rel="noopener noreferrer" title="2.6.2">2.6.2</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.6.1"
                                target="_blank" rel="noopener noreferrer" title="2.6.1">2.6.1</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.6.0"
                                target="_blank" rel="noopener noreferrer" title="2.6.0">2.6.0</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.5.0"
                                target="_blank" rel="noopener noreferrer" title="2.5.0">2.5.0</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.4.0"
                                target="_blank" rel="noopener noreferrer" title="2.4.0">2.4.0</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.3.0"
                                target="_blank" rel="noopener noreferrer" title="2.3.0">2.3.0</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.2.0"
                                target="_blank" rel="noopener noreferrer" title="2.2.0">2.2.0</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link"
                                href="https://github.com/id-sk/id-sk-frontend/releases/tag/2.1.0"
                                target="_blank" rel="noopener noreferrer" title="2.1.0">2.1.0</a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>
{% endblock %}
