<div data-module="idsk-table-filter">
  <div class="idsk-table-filter {{ params.classes if params.classes }}">
    <div class="idsk-table-filter__panel idsk-table-filter__inputs">
      <div class="idsk-table-filter__title govuk-heading-m">Filtrovať obsah</div>
      <div class="govuk-body govuk-link idsk-filter-menu__toggle">Rozbaliť filter</div>
      <div class="idsk-table-filter__content">
        <div class="govuk-grid-row idsk-table-filter__filter-inputs">
          {% for item in params.filters %}
            <div class="govuk-grid-column-one-third-from-desktop">
              <div class="govuk-form-group">
                <label class="govuk-label" for="{{ item.id }}">
                  {{ item.searchInputTitle }}
                </label>
                <input value="lolendo" class="govuk-input" id="{{ item.id }}" name="{{ item.id }}" type="text" placeholder="{{ item.searchInputTitle }}">
              </div>
            </div>
          {% endfor %}
        </div>
        <button type="submit" class="idsk-button" id="submit-filter">
          Filtrovať vybrané(3)
        </button>
      </div>
    </div>
    <div class="idsk-table-filter__panel idsk-table-filter__active-filters">
      <div class="govuk-body idsk-table-filter__title">Aktívny filter</div>
      <div class="govuk-body govuk-link idsk-filter-menu__toggle">Rozbaliť filter</div>
      <div class="govuk-clearfix idsk-table-filter__content">

      </div>
    </div>
  </div>
</div>
