@import "../../base";

@import "../../../govuk/components/error-message/error-message";
@import "../../../govuk/components/hint/hint";
@import "../../../govuk/components/label/label";

@include govuk-exports("idsk/component/character-count") {
  .idsk-character-count {
    @include govuk-responsive-margin(6, "bottom");

    .govuk-form-group,
    .govuk-textarea {
      margin-bottom: govuk-spacing(1);
    }

    .govuk-textarea--error {
      padding: govuk-spacing(1) - 2; // Stop a "jump" when width of border changes
    }
  }

  .govuk-character-count__message {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-character-count__message--disabled {
    visibility: hidden;
  }
}
