{% extends "_generic.njk" %}

{% set htmlClasses = "app-no-canvas-background" %}
{% set pageName = pageName %}

{% block pageTitle %}ID-SK Frontend{{" - " + pageName if pageName}}{% endblock %}

{# Turn the header and footer off #}
{% block header %}
  {# {% include "../partials/banner.njk" %} #}
  {% from "../../../src/idsk/components/header/macro.njk" import idskHeader %}
  {{ idskHeader({"logo": true, "serviceName": "Jednotný dizajn manuál elektronických služieb"}) }}
  
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  <div class="govuk-width-container">
  {{ govukPhaseBanner({
    "tag": {
      "text": "ver. 2.4.0"
    },
    "html": "Nová verzia ID-SK Frontend nahradzuje pôvodnú verziu. Dokumentáciu staršej verzie nájdete na <a class=\"govuk-link\" href=\"https:\/\/github.com\/id-sk\/idsk_elements\" target=\"_blank\">ID-SK Elements</a>"
  }) }}
  </div>

{% endblock %}

{% block footer %}
  {% from "../../../src/idsk/components/footer/macro.njk" import idskFooter %}
  {{ idskFooter({
    "logo": true, 
    "meta": {
      "copy": "Prevádzkovateľom služby je Ministerstvo investícií, regionálneho rozvoja a informatizácie Slovenskej republiky. Kontakná osoba <a class=\"govuk-link\" href=\"mailto:idsk@vicepremier.gov.sk\">idsk@vicepremier.gov.sk</a>.<br> Vytvorené v súlade s Jednotným dizajn manuálom elektronických služieb.",
      "footerLogoLink": "https://www.mirri.gov.sk/",
      "items": [
      {
        "href": "https://github.com/id-sk/id-sk-frontend/issues",
        "text": "Všimli ste si chybu alebo máte podnet na zlepšenie?"
      },
      {
        "href": "https://github.com/id-sk/id-sk-frontend",
        "text": "ID-SK Frontend GitHub"
      }
    ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/iframeResizer.min.js" integrity="sha256-NZjCYaMfryuJQRMgekHuC02c/Wv4sMRzHG2zyhrVwKU=" crossorigin="anonymous"></script>
  <!--[if lte IE 8]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/ie8.polyfils.min.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var domReady = function(a,b,c){b=document,c='addEventListener';b[c]?b[c]('DOMContentLoaded',a):window.attachEvent('onload',a)}
    domReady(iFrameResize({}, '.js-component-preview'))
  </script>
  {% block scripts %}{% endblock %}
{% endblock %}
