{% extends "_generic.njk" %}

{% set htmlClasses = "app-no-canvas-background" %}
{% set pageName = pageName %}

{% block pageTitle %}ID-SK Frontend{{" - " + pageName if pageName}}{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('/public/assets') }}/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/public/assets') }}/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/public/assets') }}/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/public/assets') }}/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="{{ assetPath | default('/public/assets') }}/images/govuk-apple-touch-icon.png">
{% endblock %}

{# Turn the header and footer off #}
{% block header %}
  {# {% include "../partials/banner.njk" %} #}
  {% from "../../../src/idsk/components/header/macro.njk" import idskHeader %}
  {{ idskHeader({"serviceName": "Jednotný dizajn manuál elektronických služieb"}) }}
  
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  <div class="govuk-width-container">
  {{ govukPhaseBanner({
    "tag": {
      "text": "ver. 2.0"
    },
    "html": "Nová verzia ID-SK Frontend nahradzuje pôvodnú verziu. Dokumentáciu staršej verzie nájdete na <a href=\"https:\/\/idsk-elements.herokuapp.com\" target=\"_blank\">ID-SK Elements</a>"
  }) }}
  </div>

{% endblock %}


{% block footer %}
  {% from "../../../src/idsk/components/footer/macro.njk" import idskFooter %}
  {{ idskFooter({"logo": true, "serviceName": "Jednotný dizajn manuál elektronických služieb"}) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/iframeResizer.min.js" integrity="sha256-NZjCYaMfryuJQRMgekHuC02c/Wv4sMRzHG2zyhrVwKU=" crossorigin="anonymous"></script>
  <!--[if lte IE 8]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/ie8.polyfils.min.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var domReady = function(a,b,c){b=document,c='addEventListener';b[c]?b[c]('DOMContentLoaded',a):window.attachEvent('onload',a)}
    domReady(iFrameResize({}, '.js-component-preview'))
  </script>
  {% block scripts %}{% endblock %}
{% endblock %}
