@import "../../../govuk/settings/all";
@import "../../../govuk/tools/all";
@import "../../../govuk/helpers/all";

@import "../../../govuk/helpers/typography";

@include govuk-exports("idsk/component/card") {
  .idsk-date-tag-secondary {
    color: govuk-colour("grey-1");
  }

  .idsk-date {
    padding-right: govuk-spacing(3);
  }

  .idsk-heading-basic,
  .idsk-heading-hero {
    @include govuk-font($size: 36, $weight: bold);
    margin-top: 0;
  }

  .idsk-heading-profile-vertical,
  .idsk-heading-profile-horizontal {
    @include govuk-font($size: 36, $weight: bold);
    color: #0065b3;
    margin-top: 0;
    text-decoration: underline;
  }

  .idsk-heading-simple,
  .idsk-heading-secondary {
    @include govuk-font($size: 24, $weight: bold);
    margin-top: 0;
  }

  .idsk-body-basic,
  .idsk-body-simple,
  .idsk-body-hero,
  .idsk-body-secondary {
    @include govuk-font($size: 19);
    margin-top: 0;
  }

  .idsk-body-profile-vertical,
  .idsk-body-profile-horizontal {
    @include govuk-font($size: 24);
    color: #0065b3;
    margin-top: 0;
    text-decoration: underline;
  }

  .idsk-quote {
    @include govuk-responsive-padding(8, "right");
    @include govuk-responsive-padding(8, "left");
    @include govuk-font($size: 24);
    margin-top: 0;
  }

  .idsk-card-basic,
  .idsk-card-simple {
    @include govuk-grid-column("full");
  }

  .idsk-card-basic img,
  .idsk-card-simple img,
  .idsk-card-profile-vertical img,
  .idsk-card-profile-horizontal img {
    @include govuk-responsive-padding(4, "bottom");
  }

  .idsk-card-hero,
  .idsk-card-secondary,
  .idsk-card-profile-horizontal {
    @include govuk-width-container;
  }

  .idsk-card-hero img,
  .idsk-card-secondary img {
    @include govuk-grid-column("full");
    @include govuk-responsive-padding(4, "bottom");
  }

  .idsk-card-hero .idsk-card-content,
  .idsk-card-secondary .idsk-card-content {
    @include govuk-grid-column("full");
  }

  @include mq($from: tablet) {
    .idsk-card-basic {
      @include govuk-grid-column("two-thirds");
    }

    .idsk-card-simple {
      @include govuk-grid-column("one-half");
    }

    .idsk-date-tag-basic,
    .idsk-date-tag-hero {
      display: flex;
    }
  }

  @include mq($from: desktop) {
    .idsk-card-basic {
      @include govuk-grid-column("one-half");
    }

    .idsk-card-simple,
    .idsk-card-profile-vertical {
      @include govuk-grid-column("one-third");
    }

    .idsk-card-hero img {
      @include govuk-grid-column("one-half");
    }

    .idsk-card-hero .idsk-card-content {
      @include govuk-grid-column("one-half");
    }

    .idsk-card-secondary img,
    .idsk-card-profile-horizontal img {
      @include govuk-grid-column("one-third");
    }

    .idsk-card-secondary .idsk-card-content,
    .idsk-card-profile-horizontal .idsk-card-content {
      @include govuk-grid-column("two-thirds");
    }
  }
}
